<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <!--                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>-->
                <!--                <div class="page-title-right d-lg-block">-->
                <!--                    <button type="button" class="btn btn-primary btn-sm" (click)="create()">-->
                <!--                        <i class="fa fa-plus font-size-14 align-middle"></i>-->
                <!--                        Add New Level-->
                <!--                    </button>-->
                <!--                </div>-->
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="paramperiode"
                                       daterangepicker
                                       [(ngModel)]="modelParam.periode" [options]="options"
                                       (selected)="selectedDate($event, daterange)"
                                       placeholder="Periode"/>
                                <div class="input-group-append">
                                    <button class="input-group-text btn btn-danger" title="reset date"
                                            (click)="resetTgl()">
                                        <i class="fa fa-times"></i>
                                    </button>

                                    <button class="input-group-text btn btn-success" title="Search"
                                            (click)="reloadDataTable()">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="input-group input-group-sm">
                                <input (change)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.tgl"
                                       name="paramevent" type="date" placeholder="Search By Event">

                                <div class="input-group-append">
                                    <button class="input-group-text btn btn-danger" title="reset date"
                                            (click)="modelParam.tgl = undefined; reloadDataTable()">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-md-4">
                            <ng-select [items]="listEvent" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="modelParam.event" name="post"
                                       placeholder="Select Event"
                                       (change)="reloadDataTable()"></ng-select>
                            <!--                            <div class="input-group input-group-sm">-->
                            <!--                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"-->
                            <!--                                       [(ngModel)]="modelParam.event"-->
                            <!--                                       name="paramevent" type="text" placeholder="Search By Event">-->
                            <!--                            </div>-->
                        </div>
                        <div class="col-md-4">
                            <div class="finput-group input-group-sm">
                                <ng-select [items]="listStatus" bindLabel="label" bindValue="val"
                                    name="paramstatus"
                                    [(ngModel)]="modelParam.status"
                                    placeholder="Select Status"
                                    [clearable]="false"
                                    (change)="reloadDataTable()">
                                </ng-select>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.email"
                                       name="paraminvoice" type="text" placeholder="Search By Email">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.nama"
                                       name="paraminvoice" type="text" placeholder="Search By Name">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.no_invoice"
                                       name="paraminvoice" type="text" placeholder="Search By No Invoice">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.order_no"
                                       name="paraminvoice" type="text" placeholder="Search By No Order">
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.club"
                                       name="paraminvoice" type="text" placeholder="Search By Community">
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="page-title-right d-lg-block align-right">
                                <button type="button" class="btn float-right btn-sm btn-success ml-1"
                                    (click)="listExportExcel(modalExport, modelParam)">
                                <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i>
                                Export
                                </button>
                                <button *ngIf="checkAkses('test_export')" type="button" class="btn float-right btn-sm btn-success ml-1"
                                    (click)="exportNew(modelParam)">
                                <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i>
                                Export All
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                               data-page-length='20'>
                            <thead class="thead-light">
                            <tr>
                                <th class="align-center">Invoice No</th>
                                <th style="min-width: 15%">Name</th>
                                <th style="min-width: 10%">Community</th>
                                <th style="min-width: 20%">Event</th>
                                <th class="align-center" style="min-width: 100px;">Date</th>
                                <th class="align-center">Event Distance</th>
                                <th class="align-center">Payment Methode</th>
                                <th class="align-center">Keterangan</th>
                                <th class="align-center">Status</th>
                                <th style="min-width: 110px;"></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of listData" (dblclick)="view('', val.no_order)">
                                    <td class="align-center" data-th="no_invoice">{{ val.no_invoice }}</td>
                                    <td data-th="user">{{ val.nama }}</td>
                                    <td class="align-left" data-th="no_invoice">{{ val.organisasi }}</td>
                                    <td data-th="nama_event">{{ val.nama_event }}</td>
                                    <td class="align-center" data-th="no_invoice">{{ val.tanggal | date : "dd-MM-yyyy HH:mm" }}</td>
                                    <td class="align-center" data-th="jarak">
                                        <span *ngIf="val.is_terjauh == 0">
                                            {{ val.jarak }}K
                                        </span>
                                        <span *ngIf="val.is_terjauh == 1">
                                            Terjauh
                                        </span>
                                    </td>
                                    <td class="align-center" data-th="status">{{ val.payment_method != null ? val.payment_method : '-'}}</td>

                                    <td data-th="paid" class="align-center">
                                        <span *ngIf="val.is_paid == 1" class="badge badge-success badge-pill">Paid</span>
                                        <span *ngIf="val.is_paid == 0" class="badge badge-info badge-pill">Free</span>
                                    </td>

                                    <td data-th="paid" class="align-center">
                                        <span *ngIf="val.status_order == 'approved'"
                                            class="badge badge-success badge-pill">{{val.status_pesan}}</span>
                                        <span *ngIf="val.status_order == 'pending'"
                                            class="badge badge-warning badge-pill">{{val.status_pesan}}</span>
                                        <span *ngIf="val.status_order == 'expire'"
                                            class="badge badge-danger badge-pill">{{val.status_pesan}}</span>
                                        <span *ngIf="val.status_order == 'decline'"
                                            class="badge badge-danger badge-pill">{{val.status_pesan}}</span>
                                    </td>

                                    <td class="row-action" style="min-width: 110px;">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item"
                                                *ngIf="val.is_paid == 1 && checkAkses('update_addon_order')">
                                                <a href="javascript: void(0);" (click)="updateAddon(modal, val)"
                                                class="mb-primary mr-2"
                                                placement="left" ngbTooltip="Update Addon">
                                                    <i class="fas fa-truck-pickup font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" (click)="updateAddress(modalAddress, val)"
                                                class="mb-primary mr-2"
                                                placement="left" ngbTooltip="Update Address">
                                                    <i class="fas fa-map-marked-alt font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" (click)="view('', val.no_order)"
                                                class="mb-primary mr-2"
                                                placement="left" ngbTooltip="view">
                                                    <i class="fa fa-eye font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                placement="left" ngbTooltip="Hapus">
                                                    <i class="fa fa-trash font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-footer"
                     style="border-bottom: 1px solid #f6f6f6; border-top: unset; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                        Sign <span style="font-size: 13px;color: red">*</span> is required </span>
                                    <br>
                                </div>
                                <div class="col-md-12 mt-4">
                                    <h5 class="font-weight-bold">Detail Order</h5>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order
                                            No</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="number"
                                                   [(ngModel)]="model.no_order" name="level" placeholder="Order No"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Event</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_event" name="event" placeholder="Event"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Event
                                            Distance (Km)</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.jarak" name="order_event_distance"
                                                   placeholder="Order Event Distance (Km)"/>
                                        </div>
                                    </div>


                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Invoice
                                            No</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.no_invoice" name="order_invoice_no"
                                                   placeholder="Order Invoice No"/>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Event
                                            Amount</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.harga" name="order_event_amount"
                                                   placeholder="Order Event Amount"/>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Event
                                            Category</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_ketagori" name="order_event_category"
                                                   placeholder="Order Event Category"/>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row"
                                         *ngIf="model.is_wellness_program == 0 || model.is_wellness_program == null">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Invoice
                                            No</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.no_invoice" name="order_invoice_no"
                                                   placeholder="Order Invoice No"/>
                                        </div>
                                    </div>

                                    <div class="form-group row"
                                         *ngIf="model.is_wellness_program == 0 || model.is_wellness_program == null">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Event
                                            Amount</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.harga" name="order_event_amount"
                                                   placeholder="Order Event Amount"/>
                                        </div>
                                    </div>

                                    <div class="form-group row"
                                         *ngIf="model.is_wellness_program == 0 || model.is_wellness_program == null">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Order Event
                                            Category</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_ketagori" name="order_event_category"
                                                   placeholder="Order Event Category"/>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm">Wellness
                                            Program</label>
                                        <div class="col-md-8">
                                            <div class="btn-group-sm btn-group-toggle m-mb-15" ngbRadioGroup name="radioBasic"
                                                 [(ngModel)]="model.is_wellness_program" [disabled]="isView">
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_wellness_program == 1 ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fa fa-check" *ngIf="model.is_wellness_program == 1"></i>
                                                    <input ngbButton type="radio" value="1"> Yes
                                                </label>

                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_wellness_program == 0 ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fa fa-check" *ngIf="model.is_wellness_program == 0"></i>
                                                    <input ngbButton type="radio" value="0"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Waist
                                            Size</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" mask="separator"
                                                   name="lingkar_perut"
                                                   [(ngModel)]="model.lingkar_perut" placeholder="lingkar_perut"/>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Body
                                            Weight</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" mask="separator"
                                                   name="berat_badan"
                                                   [(ngModel)]="model.berat_badan" placeholder="berat_badan"/>
                                        </div>
                                    </div>

                                    <div class="form-group row" *ngIf="model.is_wellness_program == 1">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Body
                                            Height</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" mask="separator"
                                                   name="tinggi_badan"
                                                   [(ngModel)]="model.tinggi_badan" placeholder="tinggi_badan"/>
                                        </div>
                                    </div>


                                </div>


                                <div class="col-md-12 mt-4">
                                    <h5 class="font-weight-bold">Detail User</h5>
                                    <hr>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama" name="name" placeholder="Name"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Date of
                                            birth</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.ttl" name="ttl" placeholder="Date of birth"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Gender</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.jenis_kelamin" name="jenis_kelamin"
                                                   placeholder="Gender"/>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Passport/Identity
                                            Number</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.no_id" name="no_id"
                                                   placeholder="Passport/Identity Number"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Mobile
                                            Phone</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.no_hp" name="mobile_phone"
                                                   placeholder="Mobile Phone"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Country</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_negara" name="negara_id"
                                                   placeholder="Country"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">City</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_provinsi" name="kota_id" placeholder="City"/>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Name on THE
                                            BIB</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.ebib_name" name="name_bib"
                                                   placeholder="Name on THE BIB"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">E-BIB
                                            No</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.ebib_no" name="bib_no" placeholder="E-BIB No"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Blood
                                            Type</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.gol_darah" name="gol_darah"
                                                   placeholder="Blood Type"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Occupation</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_idn" name="occupation"
                                                   placeholder="Occupation"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">First Half Marathon</label>
                                        <div class="col-md-8">
                                            <div class="btn-group-toggle m-mb-15" ngbRadioGroup name="radioBasic"
                                                 [(ngModel)]="model.is_first_half" name="is_first_half">
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_first_half == '1' ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.is_first_half == '1'"></i>
                                                    <input ngbButton type="radio" value="1"> Yes
                                                </label>
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_first_half == '0' ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.is_first_half == '0'"></i>
                                                    <input ngbButton type="radio" value="0"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Best Time</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.best_time" name="best_time"
                                                   placeholder="Best Time"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Have Medical Conditions</label>
                                        <div class="col-md-8">
                                            <div class="btn-group-toggle m-mb-15" ngbRadioGroup name="radioBasic"
                                                 [(ngModel)]="model.is_condition" name="is_condition">
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_condition == 1 ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.is_condition == '1'"></i>
                                                    <input ngbButton type="radio" value="1"> Yes
                                                </label>
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_condition == 0 ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.is_condition == '0'"></i>
                                                    <input ngbButton type="radio" value="0"> No
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Specify
                                            Medical Conditions</label>
                                        <div class="col-md-8">
                                            <textarea class="form-control form-control-sm"
                                                      [(ngModel)]="model.condition" name="specify_medical" rows="4"
                                                      placeholder="Specify Medical Conditions"></textarea>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-md-12 mt-4" *ngIf="model.id_address != 0">
                                    <h5 class="font-weight-bold">Detail Receiver</h5>
                                    <hr>
                                </div>
                                <div class="col-md-6" *ngIf="model.id_address != 0">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Label</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.ket" name="label"
                                                   placeholder="Label"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.nama_receiver" name="receiver_name"
                                                   placeholder="Receiver Name"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Phone</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.phone_receiver" name="receiver_phone"
                                                   placeholder="Receiver Phone"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Full
                                            Address</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.alamat_receiver" name="receiver_address"
                                                   placeholder="Full Address"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Country</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.negara_receiver" name="receiver_country"
                                                   placeholder="Country"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Province</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.provinsi_receiver" name="receiver_province"
                                                   placeholder="Province"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">City</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.kabupaten_receiver" name="receiver_city"
                                                   placeholder="City"/>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6" *ngIf="model.id_address != 0">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">District</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.kecamatan_receiver" name="receiver_district"
                                                   placeholder="District"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Subdistrict</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.desa_receiver" name="receiver_subdistrict"
                                                   placeholder="Subdistrict"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Post
                                            Code</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.kode_pos_receiver" name="receiver_postcode"
                                                   placeholder="Post Code"/>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Payment
                                            Methode</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.payment_method" name="payment_method"
                                                   placeholder="Payment Method"/>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group row">-->
                                    <!--                                        <label class="col-md-4 col-form-label col-form-label-sm required">Payment-->
                                    <!--                                            Methode</label>-->
                                    <!--                                        <div class="col-md-8">-->
                                    <!--                                            <select class="form-control form-control-sm"-->
                                    <!--                                                    [(ngModel)]="model.payment_methode" name="payment_metode">-->
                                    <!--                                                <option value="">Select Payment Methode</option>-->
                                    <!--                                                <option value="Bank transfer">Bank Transfer</option>-->
                                    <!--                                                <option value="Virtual account">Virtual Account</option>-->
                                    <!--                                                <option value="Credit card">Credit Card</option>-->
                                    <!--                                                <option value="go-pay">GO-PAY</option>-->
                                    <!--                                                <option value="free event">Free Event</option>-->
                                    <!--                                            </select>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Voucher
                                            No</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text"
                                                   [(ngModel)]="model.kode_voucher" name="receiver_voucher"
                                                   placeholder="Voucher No"/>
                                        </div>
                                    </div>

                                    <!--                                    <div class="form-group row">-->
                                    <!--                                        <label class="col-md-4 col-form-label col-form-label-sm required">Status</label>-->
                                    <!--                                        <div class="col-md-8">-->
                                    <!--                                            <select class="form-control form-control-sm" [(ngModel)]="model.status_order"-->
                                    <!--                                                    name="status">-->
                                    <!--                                                <option value="">Select Status</option>-->
                                    <!--                                                <option value="Menunggu pembayaran">Menunggu pembayaran</option>-->
                                    <!--                                                <option value="Order diproses">Order diproses</option>-->
                                    <!--                                                <option value="Sedang dalam pengiriman">Sedang dalam pengiriman</option>-->
                                    <!--                                                <option value="Berhasil dikirim">Berhasil dikirim</option>-->
                                    <!--                                                <option value="Pengiriman gagal">Pengiriman gagal</option>-->
                                    <!--                                                <option value="Pengiriman dibatalkan">Pengiriman dibatalkan</option>-->
                                    <!--                                                <option value="Order dibatalkan">Order dibatalkan</option>-->
                                    <!--                                                <option value="Order selesai">Order selesai</option>-->
                                    <!--                                            </select>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->
                                </div>

                                <div class="col-md-12 mt-4" *ngIf="isView">
                                    <!--                                    <h4 class="mb-3">Data AddOn</h4>-->
                                    <div class="col-md-12 mt-4">
                                        <h5 class="font-weight-bold">Detail Addon</h5>
                                        <hr>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-sm mb-0 mobile-optimised">
                                            <thead>
                                            <tr class="bg-primary text-white">
                                                <th>Name</th>
                                                <th>Qty</th>
                                                <th>Shipping Address</th>
                                                <!-- <th>Date</th> -->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let val of listAddon">
                                                <td>{{ val.nama_produk }}</td>
                                                <td>{{ val.qty }}</td>
                                                <td>{{ val.alamat_lengkap }}</td>
                                                <!-- <td>{{ val.date }}</td> -->
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalAddress let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Modal Address</h5>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <div class="form-group row">
                <label class="col-md-4 col-form-label col-form-label-sm">Address</label>
                <div class="col-md-8">
                    <ng-select [items]="listUserAddress" bindLabel="address" bindValue="id" [(ngModel)]="formModalAddress.m_user_address_id"
                        name="m_user_address_id" placeholder="Select Adress"></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-sm" (click)="saveModalAddress()" type="submit">
                Simpan
            </button>
        </div>
    </div>
</ng-template>

<ng-template #modal let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Modal Addon</h5>
        </div>
        <div class="col-md-6">
            <!--            <button class="btn btn-danger btn-sm float-right" (click)="modal.dismiss('Cross click')" aria-label="Close">-->
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-sm mobile-optimised mb-0">
                    <thead>
                    <tr class="bg-primary text-white">
                        <th style="width: 2% !important;">
                            <button type="button" class="btn btn-sm btn-light" (click)="addDetailAddon()">
                                <i class="fas fa-plus"></i>
                            </button>
                        </th>
                        <th class="align-middle text-center" style="width: 7%">Addon</th>
                        <th class="align-middle">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let val of listAddon; index as i">
                        <td>
                            <button type="button" class="btn btn-sm btn-danger"
                                    (click)="removeDetailAddon(listAddon, i)">
                                <i class="fas fa-minus"></i>
                            </button>
                        </td>
                        <td>
                            <ng-select [items]="listGetAddon" bindLabel="nama" bindValue="id" style="width: 100%;"
                                       [(ngModel)]="val.m_event_addon_id" name="m_event_addon_id{{i}}"
                                       placeholder="Select Addon" appendTo="body"
                                       [disabled]="val.id != undefined"></ng-select>
                        </td>
                        <td>
                            <input type="number" class="form-control form-control-sm angka" [(ngModel)]="val.qty"
                                   name="qty{{i}}" [disabled]="val.id != undefined" placeholder="Qty"
                            >
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-sm" (click)="saveModal()" type="submit">
                Simpan
            </button>
        </div>
    </div>
</ng-template>

<ng-template #modalExport let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Modal Export</h5>
        </div>
        <div class="col-md-6">
            <!--            <button class="btn btn-danger btn-sm float-right" (click)="modal.dismiss('Cross click')" aria-label="Close">-->
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <div class="row">

            <div class="col-md-3" *ngFor="let val of listExport">
                <button type="button" class="btn float-right btn-sm btn-success ml-1 mb-1" style="min-width: 150px"
                        (click)="export(formModalExport, val)">
                    <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i>
                    Export {{val.label}}
                </button>
            </div>

        </div>
    </div>
    <!--    <div class="modal-footer">-->
    <!--        <div class="btn-group pull-right">-->
    <!--            <button class="btn btn-primary btn-sm" (click)="saveModal()" type="submit">-->
    <!--                Simpan-->
    <!--            </button>-->
    <!--        </div>-->
    <!--    </div>-->
</ng-template>
