.text-left-middle{
    text-align: left;
    vertical-align: middle;
  }
  
  .text-center-middle{
    text-align: center;
    vertical-align: middle;
  }
  
  .text-right-middle{
    text-align: right;
    vertical-align: middle;
  }
  
  .table-bordered {
    border: 1px solid #dbddde!important;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dbddde!important;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table td, .table th {
    border-top: 1px solid #c8ced3;
    padding: 5px;
    cursor: pointer;
  }
  
  .table tfoot tr th {
    background-color: #f0f3f5;
  }
  .ng-select.custom {
    border:0px;
    min-height: 0px;
    border-radius: 0;
  }
  .ng-select.custom .ng-select-container  {
    min-height: 0px;
    border-radius: 0;
  }
  
  //.ng-select.ng-select-single .ng-select-container {
  //  height: 50px !important;
  //}
  
  ::ng-deep .ng-select.ng-select-single .ng-select-container  {
    height: 27px !important;
  }
  