<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="periode" daterangepicker
                                       [(ngModel)]="model.periode"
                                       [options]="options" (selected)="selectedDate($event, daterange)"
                                       placeholder="Periode" autocomplete="off"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <ng-select class="custom" [items]="listGetTherapis" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="model.terapis_id" name="terapis_id" placeholder="Cari Therapis"
                                       (ngModelChange)="reset_tampilan()">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-primary" (click)="tampilkan(0)">
                                <i class="fa fa-eye font-size-14 align-middle mr-1"></i> Tampilkan
                            </button>

                            <button type="button" class="btn btn-sm btn-success ml-1"
                                    [disabled]="listData.length == 0"
                                    (click)="tampilkan(1)">
                                <i class="fa fa-file-excel font-size-14 align-middle mr-1"></i> Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover mb-0 mobile-optimised" width="100%">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th class="text-left" style="vertical-align: middle">Nama Customer</th>
                                <th class="text-center" style="vertical-align: middle">Waktu Layanan</th>
                                <th class="text-center" style="vertical-align: middle">Jenis Layanan</th>
                                <th class="text-center" style="vertical-align: middle">Harga</th>
                                <th class="text-center" style="vertical-align: middle">Komisi Therapis</th>
                                <th class="text-center" style="vertical-align: middle">Nama Kasir</th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let val of listData; index as key">
                                <tr>
                                    <td style="background-color: #f8f9fa;" data-th="Total" class="text-left" colspan="4">
                                        <b>{{val.nama_terapis}}</b> 
                                    </td>
                                    <td style="background-color: #f8f9fa;" data-th="Total" class="text-right"><b>{{val.total_komisi_terapis | number}}</b></td>
                                    <td style="background-color: #f8f9fa;"></td>
                                </tr>
                                <ng-container *ngFor="let vals of val.details; index as i">
                                    <ng-container *ngFor="let valz of vals.detail; index as i">
                                    <tr>
                                        <td class="text-left-middle"
                                            [attr.rowspan]="vals.rowspan" *ngIf="i == 0">{{ vals.nama_customer }}</td>
                                        <td class="text-center-middle"
                                            [attr.rowspan]="vals.rowspan"
                                            *ngIf="i == 0">{{ valz.created_at * 1000 | date : "dd/MM/yyyy" }} {{ valz.waktu}}</td>
                                        <td class="text-left-middle"
                                            *ngIf="valz.tipe == 'layanan'">{{ valz.nama_layanan }}</td>
                                        <td class="text-right-middle">{{ valz.harga | number}}</td>
                                        <td class="text-right-middle">{{ valz.komisi_terapis | number}}</td>
                                        <td class="text-left-middle"
                                            [attr.rowspan]="vals.rowspan" *ngIf="i == 0">{{ vals.nama_kasir }}</td>
                                    </tr>
                                    </ng-container>
                                </ng-container>
                            </ng-container>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="text-center-middle" [attr.colspan]="3">Total</th>
                                <th class="text-right-middle">{{totalData.harga | number}}</th>
                                <th class="text-right-middle">{{totalData.k_terapis | number}}</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>