/*
Template Name: Skote - Responsive Bootstrap 4 Admin Dashboard
Author: Themesbrand
Version: 1.0.0
Website: https://themesbrand.com/
Contact: themesbrand@gmail.com
File: Main Css File
*/

//Fonts
@import "custom/fonts/fonts";
//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins.scss";
// Structure
@import "custom/structure/general";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";
// Plugins
@import "custom/plugins/custom-scrollbar";
@import "custom/plugins/sweatalert2";
@import "custom/plugins/select2";
@import "custom/plugins/form-wizard";
@import "custom/plugins/calendar";
// Pages
@import "custom/pages/authentication";
@import "custom/pages/email";

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Poppins;
    src: url(custom/fonts/poppins/Poppins-Medium.ttf) format("truetype");
  }
aw-wizard {
    .steps-indicator {
        .label {
            color: $text-muted !important;
        }

        .current {
            .step-indicator {
                color: $primary !important;
                border-color: $primary !important;
            }
        }
    }
}
.container-fluid, .container-xl, .container-lg, .container-md, .container-sm {
    width: 100%!important;
    padding-right: 12px !important;
    padding-left: 12px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
}
.modal-content{
    border: none;
}

.pt-15 {
    padding-top: 15px;
}

.ng-dropdown-panel {
    z-index: 1050 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0px !important;
}

.page-link:hover {
    background: #fff !important;
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: #f7f8fb !important;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #eff2f7 !important;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    content: "" !important;
}

.mb-15 {
    margin-bottom: 15px;
}
.mb-10 {
    margin-bottom: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10{
    margin-top: 10px;
}

.topnav .navbar-nav .dropdown-item{
    font-size: 12px;
}

.topnav .navbar-nav .nav-link{
    font-size: 12px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    content: "" !important;
}

.page-item .page-link:hover {
    background: none !important;
}

.row-action {
    width: 80px;
    text-align: right;
}

.row-action a {
    color: #495057;
}

.btn-transparant {
    background: transparent;
    border: none;
    font-weight: 500;
    color: #313131;
}

.btn-transparant:hover {
    background: #4b50a1;
    border: none;
    font-weight: 500;
    color: #fff;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    margin: 0;
    opacity: 0;
    font-size: 11px;
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.27rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: auto;
    padding: 0.27rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #eff2f7;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}

.card-title {
    margin: 0 0 15px;
    padding: 0 0 7px;
    border-bottom: 1px solid #f6f6f6;
}

.required::after {
    content: '*';
    color: red;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f7f8fb;
}

.large-empty-symbols {
    background-color: #f8f8fb;
    border-radius: 5px;
}

.card-in-tab {
    border: 0 solid #f6f6f6;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
}

.btn-group-toggle>.btn,
.btn-group-toggle>.btn-group>.btn {
    margin-bottom: 0;
    margin-right: 5px;
}

table.dataTable {
    width: 100% !important;
}

table.dataTable tbody tr.odd {
    display: none !important;
}

.dataTables_wrapper .dataTables_length{
    color: #333333;
    display: none;
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
    display: none;
}

.ng-dropdown-panel .scroll-host{
    border: 1px solid #ced4db;
}

#orgChartId .org-chart-entity-box {
    padding: .25em .5em!important;
    display: flex!important;
    height: auto;
    width: auto;
    flex-direction: column!important;
    align-items: center!important;
    border: 1px solid #45a3a2 !important;
    background-color: #48a89e !important;
    border-radius: 3px!important;
    cursor: pointer!important;
    box-shadow: 0 0.2rem 0.2rem #777 !important;
}
.org-chart-entity-name{
    font-size: 12px !important;
    font-weight: 500px !important;
    padding: 10px;
}

.header-laporan{
    margin-top: 25px;
    margin-bottom: 25px;
}

.modal-title{
    font-weight: 600;
}

.header-laporan h5{
    font-size: 14px;
}

.page-content{
    min-height: calc(100vh - 75px);
}

@media screen and (max-width:601px) {
    .page-content{
        height: auto;
    }
    .mb-primary {
        background-color: #4E51A2 !important;
    }

    .mb-danger {
        background-color: #f46a6a !important;
    }

    .mb-succes {
        background-color: #34c38f !important;
    }

    .row-action {
        float: left;
        text-align: left;
    }

    .row-action ul li a:after {
        content: attr(ngbTooltip);
        margin-left: 5px;
    }

    .row-action ul li {
        width: 100%;
    }

    .row-action ul li a {
        width: 100%;
        display: block;
        padding: 10px;
        margin-bottom: 15px;
        text-align: center;
        color: #fff;
    }

    table.mobile-optimised {
        word-wrap: break-word;
    }

    table.mobile-optimised thead {
        display: none
    }

    table.mobile-optimised td {
        display: block;
        float: left;
        /* ie9 and under hack */
        width: calc(100% - 20px);
        clear: both;
        background: #f5f5f5;
        padding: 10px 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    table.mobile-optimised tbody,
    table.mobile-optimised tr {
        display: block
    }

    .mobile-optimised td:before {
        content: attr(data-th);
        display: block;
        font-weight: bold;
        margin: 0 0 2px;
        color: #000;
    }

    .mobile-optimised tbody tr {
        float: left;
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 992px) {

    .m-mb-15 {
        margin-bottom: 15px !important;
    }

    .m-mt-15 {
        margin-bottom: 15px !important;
    }

    body[data-layout=horizontal] .page-content {
        margin-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .card {
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 0px;
    }

    .card-title {
        margin-top: 15px;
    }

    #page-topbar {
        background-color: $blue;
    }

    .header-item {
        color: #fff;
    }

    .header-item:hover {
        color: #fefefe;
    }

    .noti-icon i {
        color: #fff;
    }

    .button-import {
        width: 100%;
        margin-right: 0px !important;
        background: $blue;
        color: #fff !important;
        margin-bottom: 15px;
    }

    .btn-sm {
        font-size: inherit;
        padding-top: 8px;
        padding-bottom: 8px;
        width: 100%;
    }

    .float-right {
        float: none !important;
    }

    .float-right button {
        margin-bottom: 15px;
    }

    .user-avatar {
        font-size: 16px;
    }

    .icon-tab {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length label {
        display: none;
    }

    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_filter,
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: right;
    }

    div.dataTables_wrapper div.dataTables_info {
        display: none;
    }

    .footer {
        text-align: center;
    }

    .nav-mobile {
        list-style: none;
        margin: 0;
        padding: 0;
        white-space: nowrap;
        overflow-x: auto;
        display: inherit !important;
    }

    .nav-justified .nav-item {
        display: inline-block !important;
    }


    /*CSS KOMPONEN GAJI*/
    .main-kg-4 {
        padding: 0;
        border: 1px solid #bfbebe;
        position: relative;
    }

    .main-kg-4-title {
        background: #4950a0;
        text-align: center;
        padding: 10px;
        color: #fff;
        font-weight: bold;
    }

    .main-kg-4-square {
        min-height: 100px;
        padding-bottom: 70px;
        padding-top: 15px;
    }

    .main-kg-4-span {
        border: 1px solid #4950a0;
        padding: 5px 10px;
        display: inline-block;
        margin: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    .main-kg-4-button {
        text-align: center;
        padding: 10px;
        color: #4950a0;
        position: absolute;
        bottom: 0px;
        border-top: 1px solid #bfbebe;
    }
    
}
