<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ng-select [items]="listGetBarang" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="model.m_barang_id" name="m_barang_id" placeholder="Cari Barang"
                                       (ngModelChange)="reset_tampilan()">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="periode" daterangepicker
                                       [(ngModel)]="model.periode" [options]="options"
                                       (selected)="selectedDate($event, daterange)"
                                       placeholder="Periode"/>
                                <div class="input-group-append">
                        <span class="input-group-text">
                          <i class="fa fa-calendar"></i>
                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-sm btn-primary" (click)="tampilkan()">
                                <i class="fas fa-eye font-size-14 align-middle mr-1"></i> Tampilkan
                            </button>

<!--                            <button type="button" class="btn btn-sm btn-success ml-1"-->
<!--                                    [disabled]="model.m_event_id == undefined || listData.length == 0"-->
<!--                                    (click)="export(model.m_event_id)">-->
<!--                                <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i> Export-->
<!--                            </button>-->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover mb-0 mobile-optimised">
                            <thead>
                            <tr class="bg-primary text-white">
                                <th class="align-center align-middle" rowspan="2">Tanggal</th>
                                <th class="align-center align-middle" rowspan="2">No Referensi</th>
                                <th class="align-left align-middle" rowspan="2">Keterangan</th>
                                <th class="align-center align-middle" rowspan="2">Petugas</th>
                                <th class="align-center align-middle" colspan="3">Masuk</th>
                                <th class="align-center align-middle" colspan="3">Keluar</th>
                                <th class="align-center align-middle" colspan="3">Saldo</th>
                            </tr>
                            <tr class="bg-primary text-white">
                                <th class="align-center align-middle">Jumlah</th>
                                <th class="align-center align-middle">Harga (Rp)</th>
                                <th class="align-center align-middle">Saldo (Rp)</th>
                                <th class="align-center align-middle">Jumlah</th>
                                <th class="align-center align-middle">Harga (Rp)</th>
                                <th class="align-center align-middle">Saldo (Rp)</th>
                                <th class="align-center align-middle">Jumlah</th>
                                <th class="align-center align-middle">Harga (Rp)</th>
                                <th class="align-center align-middle">Saldo (Rp)</th>
                            </tr>

                            </thead>
                            <tbody>
                            <ng-container *ngFor="let val of listData; index as i">
                                <tr>
                                    <td align="center">{{ val.tanggal|date: 'd MMM y' }}</td>
                                    <td align="align-center">
                                        <span>{{ val.kode }}</span>
                                    </td>
                                    <td style="text-align: left;">{{ val.catatan }}</td>
                                    <td style="text-align: left;">{{ val.petugas }}</td>
                                    <td class="text-center">
                                        <span *ngIf="val.jumlah_masuk === undefined || val.jumlah_masuk.length == 0"></span>
                                        <div *ngIf="val.jumlah_masuk !== undefined && val.jumlah_masuk.length > 0">
                                            <span *ngFor="let v of val.jumlah_masuk;">
                                                {{ v.nilai }} pcs
                                                <br/>
                                            </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.harga_masuk === undefined || val.harga_masuk.length == 0"></span>
                                        <div *ngIf="val.harga_masuk !== undefined &&val.harga_masuk.length > 0">

                                        <span *ngFor="let v of val.harga_masuk;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.total_masuk === undefined || val.total_masuk.length == 0"></span>
                                        <div *ngIf="val.total_masuk !== undefined &&val.total_masuk.length > 0">

                                        <span *ngFor="let v of val.total_masuk;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="val.jumlah_keluar === undefined || val.jumlah_keluar.length == 0"></span>
                                        <div *ngIf="val.jumlah_keluar !== undefined &&val.jumlah_keluar.length > 0">
                                        <span *ngFor="let v of val.jumlah_keluar;">
                                            {{ v.nilai }} pcs
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.hargas_keluar === undefined || val.hargas_keluar.length == 0"></span>
                                        <div *ngIf="val.hargas_keluar !== undefined &&val.hargas_keluar.length > 0">
                                        <span *ngFor="let v of val.hargas_keluar;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.total_keluar === undefined || val.total_keluar.length == 0"></span>
                                        <div *ngIf="val.total_keluar !== undefined && val.total_keluar.length > 0">
                                        <span *ngFor="let v of val.total_keluar;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <span *ngIf="val.jumlah_saldo === undefined || val.jumlah_saldo.length == 0"></span>
                                        <div *ngIf="val.jumlah_saldo !== undefined &&val.jumlah_saldo.length > 0">
                                        <span *ngFor="let v of val.jumlah_saldo;">
                                            {{ v.nilai }} pcs
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.harga_saldo === undefined || val.harga_saldo.length == 0"></span>
                                        <div *ngIf="val.harga_saldo !== undefined &&val.harga_saldo.length > 0">
                                        <span *ngFor="let v of val.harga_saldo;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>
                                    <td class="text-right">
                                        <span *ngIf="val.total_saldo === undefined || val.total_saldo.length == 0"></span>
                                        <div *ngIf="val.total_saldo !== undefined && val.total_saldo.length > 0">
                                        <span *ngFor="let v of val.total_saldo;">
                                            {{ v.nilai| number }}
                                            <br/>
                                        </span>
                                        </div>
                                    </td>

                                </tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

