<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
                <div class="page-title-right  d-lg-block">
                    <button type="button" class="btn btn-primary btn-sm" (click)="create()">
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Add User
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm" [(ngModel)]="modelParam.nama"
                                       name="paramnama" type="text" placeholder="Search By Name">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <ng-select [items]="filterStatus" (change)="reloadDataTable()" bindValue="id" bindLabel="nama" [(ngModel)]="modelParam.is_deleted" name="paramstatus" placeholder="Cari Berdasarkan Status" appendTo="body"></ng-select>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                               data-page-length='20'>
                            <thead class="thead-light">
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--    -->
                            <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                <td data-th="Nama">{{ val.nama }}</td>
                                <td data-th="Nama">{{ val.alamat }}</td>
                                <td data-th="Nama">{{ val.telepon }}</td>
                                <td class="row-action">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript: void(0);" (click)="edit(val)"
                                               class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                <i class="fa fa-edit font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                        <li *ngIf="val.id != 1 && val.id != -1" class="list-inline-item">
                                            <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                               placement="left" ngbTooltip="Hapus">
                                                <i class="fa fa-trash font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">

                            <div class="row">
                                <div class="col-md-12">

                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px;">
                                                        <span
                                                                style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                            Sign <span style="font-size: 13px;color: red">*</span>
                                                            is required </span>
                                            <br>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label col-form-label-sm required">Name</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm" type="text"
                                                           name="nama" [(ngModel)]="model.nama" name="nama"
                                                           placeholder="Name"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label col-form-label-sm required">Email</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm" type="email"
                                                           name="email" [(ngModel)]="model.email"
                                                           name="email"
                                                           placeholder="Email"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label col-form-label-sm required">Address</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm" type="text"
                                                           name="alamat" [(ngModel)]="model.alamat"
                                                           name="alamat" placeholder="Address"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label col-form-label-sm required">Phone</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm"
                                                           type="number" name="telepon"
                                                           [(ngModel)]="model.telepon" name="telepon"
                                                           placeholder="Phone"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group row">
                                                <label
                                                        class="col-md-4 col-form-label col-form-label-sm required">Username
                                                </label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm" type="text"
                                                           name="username" [(ngModel)]="model.username"
                                                           name="username" placeholder="Username"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                        class=" col-md-4 col-form-label col-form-label-sm required">
                                                    Password</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm"
                                                           type="password" name="password"
                                                           [(ngModel)]="model.password" name="password"
                                                           placeholder="Password"/>
                                                    <p *ngIf="isEdit == true"
                                                       class="col-form-label col-form-label-sm">empty when not to be changed</p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <!--  -->
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>