body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("/api/assets/img/background.jpeg");

  /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  overflow: scroll;
}
.nav-tabs-custom .nav-item .nav-link {
  color: white !important;
}
.nav-tabs-custom .nav-item .nav-link.active {
  color: #3b21a1 !important;
}
@media screen and (max-width: 601px) {
  table.mobile-optimised td {
    display: block;
    float: left;
    width: calc(100% - 20px);
    clear: both;
    background: #f5f5f5;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }
  table.mobile-optimised thead {
    display: block;
  }
}
