<style type="text/css">
    #pageNumber {
        counter-increment: page
    }

    #pageNumber:first {
        counter-reset: page 9
    }

    table {
        border-collapse: collapse;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .table td,
    .table th {
        font-size: 12px;
        padding: 3px;
    }

    .table1 td,
    .table1 th {
        font-size: 12px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: .6em;
        /* margin-right: -12px;
      margin-left: -12px; */
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .col-1 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-2 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-3 {
        flex: 0 0 70%;
        max-width: 70%
    }

    .col-4 {
        flex: 0 0 30%;
        max-width: 30%
    }

    .col-5 {
        flex: 0 0 28%;
        max-width: 28%
    }

    .footer {
        position: absolute;
        margin-top: 2em;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid black;

    }

    .table-top {
        border: 2px solid black;

    }

    .text-center {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .text-left {
        text-align: left !important;
        vertical-align: middle !important;

    }

    .text-right {
        text-align: right !important;
        vertical-align: middle !important;

    }

    .text-left-middle{
        text-align: left;
        vertical-align: middle;
    }

    .text-center-middle{
        text-align: center;
        vertical-align: middle;
    }

    .text-right-middle{
        text-align: right;
        vertical-align: middle;
    }
</style>

<table style="margin-bottom: 2.5em; border: none;">
    <tr>
        <td colspan="7" style="text-align: center;">
            <h3 style="margin-bottom: 0px">LAPORAN KOMISI</h3>
            <h3>Periode {{filter.periode_mulai}} - {{filter.periode_mulai}}</h3>
        </td>
    </tr>
</table>

<div class="div-b-table table-responsive">
    <table class="table mb-5">
        <thead class="bg-primary text-white">
        <tr style="border-style: solid;border-width: thin;">
            <th class="text-left" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Nama Customer</th>
            <th class="text-center" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Waktu Layanan</th>
            <th class="text-center" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Jenis Layanan</th>
            <th class="text-center" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Harga</th>
            <th class="text-center" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Komisi Terapis</th>
            <th class="text-center" style="vertical-align: middle; background-color: #3b21a1 !important;color: white;">Nama Kasir</th>
        </tr>

        </thead>

        <tbody>
        {% for key, valz in data %}
        <tr style="border-style: solid;border-width: thin;">
            <td class="text-left" colspan="4" style="background-color: #f8f9fa;font-weight: bold;">{{ valz.nama_terapis }}</td>
            <td class="text-right" style="background-color: #f8f9fa;font-weight: bold;">Rp {{ valz.total_komisi_terapis }}</td>
            <td class="text-right" style="background-color: #f8f9fa;font-weight: bold;"></td>
        </tr>
        {% for keys, val in valz.details %}
            {% for keys, v in val.detail %}
            <tr style="border-style: solid;border-width: thin;">
                {% if keys == 0 %}
                <td class="text-left" rowspan="{{val.rowspan }}">{{ val.nama_customer }}</td>
                <td class="text-center" rowspan="{{val.rowspan }}">{{ val.tanggal }} {{ val.waktu }}</td>
                {% endif %}

                {% if v.tipe == 'layanan' %}
                <td class="text-left">{{ v.nama_layanan }}</td>
                {% else %}
                <td class="text-left">{{ v.nama_barang }}</td>
                {% endif %}
                <td class="text-right">Rp {{ v.harga }}</td>
                <td class="text-right">Rp {{ v.komisi_terapis }}</td>
                <td class="text-right">{{ val.nama_kasir }}</td>
            </tr>
            {% endfor %}
            {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr style="border-style: solid;border-width: thin;">
            <th class="text-center-middle" colspan="3">Total</th>
            <th class="text-right-middle">Rp {{totalData.harga}}</th>
            <th class="text-right-middle">Rp {{totalData.k_terapis}}</th>
            <th></th>
        </tr>
        </tfoot>

    </table>
</div>


