<style type="text/css">
    #pageNumber {
        counter-increment: page
    }

    #pageNumber:first {
        counter-reset: page 9
    }

    table {
        border-collapse: collapse;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .table td,
    .table th {
        font-size: 12px;
        padding: 3px;
    }

    .table1 td,
    .table1 th {
        font-size: 12px;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: .6em;
        /* margin-right: -12px;
      margin-left: -12px; */
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .col-1 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-2 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-3 {
        flex: 0 0 70%;
        max-width: 70%
    }

    .col-4 {
        flex: 0 0 30%;
        max-width: 30%
    }

    .col-5 {
        flex: 0 0 28%;
        max-width: 28%
    }

    .footer {
        position: absolute;
        margin-top: 2em;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid black;

    }

    .table-top {
        border: 2px solid black;

    }

    .text-center {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .text-left {
        text-align: left !important;
        vertical-align: middle !important;

    }

    .text-right {
        text-align: right !important;
        vertical-align: middle !important;

    }

    .text-left-middle{
        text-align: left;
        vertical-align: middle;
    }

    .text-center-middle{
        text-align: center;
        vertical-align: middle;
    }

    .text-right-middle{
        text-align: right;
        vertical-align: middle;
    }
</style>

<table style="margin-bottom: 2.5em; border: none;">
    <tr>
        <td colspan="14" style="text-align: center;">
            <h3 style="margin-bottom: 0px">LAPORAN PENJUALAN</h3>
            <h3>Periode {{filter.periode_mulai}} - {{filter.periode_mulai}}</h3>
        </td>
    </tr>
</table>

<div class="div-b-table table-responsive">
    <table class="table mb-5">
        <thead class="bg-primary text-white">
        <tr style="border-style: solid;
  border-width: thin;">
            <th class="text-left" style="vertical-align: middle">Kode Nota</th>
            <th class="text-center" style="vertical-align: middle">Tanggal</th>
            <th class="text-center" style="vertical-align: middle">Waktu Layanan</th>
            <th class="text-left" style="vertical-align: middle">Nama Customer</th>
            <th class="text-left" style="vertical-align: middle">Nomor Telepon</th>
            <th class="text-left" style="vertical-align: middle">Nama Therapist</th>
            <th class="text-center" style="vertical-align: middle">Layanan/Barang</th>
            <th class="text-center" style="vertical-align: middle">Jumlah</th>
            <th class="text-center" style="vertical-align: middle">Harga</th>
            <th class="text-center" style="vertical-align: middle; width: 300px;">Service Layanan</th>
            <th class="text-center" style="vertical-align: middle">Diskon</th>
            <th class="text-center" style="vertical-align: middle">Sub Total</th>
            <th class="text-center" style="vertical-align: middle">Total</th>
            <th class="text-center" style="vertical-align: middle">Komisi Terapis</th>
            <th class="text-center" style="vertical-align: middle">Komisi Manager</th>
            <th class="text-center" style="vertical-align: middle">Komisi Marketing</th>
            <th class="text-center" style="vertical-align: middle">Komisi Perusahaan</th>
        </tr>

        </thead>

        <tbody>
        {% for key, val in data %}
        {% for keys, v in val.detail %}
        <tr style="border-style: solid;
  border-width: thin;">
            {% if keys == 0 %}

            <td class="text-left" rowspan="{{val.rowspan }}">{{ val.kode_nota }}</td>
            <td class="text-center" rowspan="{{val.rowspan }}">{{ val.tanggal }}</td>
            <td class="text-center" rowspan="{{val.rowspan }}">{{ val.waktu }}</td>
            <td class="text-left" rowspan="{{val.rowspan }}">{{ val.nama_customer }}</td>
            <td class="text-left" rowspan="{{val.rowspan }}"> {{ val.no_telepon_export }}</td>
            <td class="text-left" rowspan="{{val.rowspan }}"> {{ val.nama_terapis }}</td>
            {% endif %}

            {% if v.tipe == 'layanan' %}
            <td class="text-left">{{ v.nama_layanan }}</td>
            {% else %}
            <td class="text-left">{{ v.nama_barang }}</td>
            {% endif %}
            <td class="text-center">{{ v.jumlah }}</td>
            <td class="text-right">{{ v.harga  }}</td>
            {% if keys == 0 %}
            <td class="text-right" rowspan="{{val.rowspan }}">{{ v.service_layanan  }}</td>
            {% endif %}

            <td class="text-right">{{ v.diskon_detail  }}</td>
            <td class="text-right">{{ v.sub_total  }}</td>

            {% if keys == 0 %}

            <td class="text-right" rowspan="{{val.rowspan }}">{{ val.total  }}</td>
            {% endif %}

            <td class="text-right">{{ v.komisi_terapis  }}</td>
            <td class="text-right">{{ v.komisi_manager  }}</td>
            <td class="text-right">{{ v.komisi_marketing  }}</td>
            <td class="text-right">{{ v.komisi_perusahaan  }}</td>

        </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
        <tfoot>
        <tr style="border-style: solid;
  border-width: thin;">
            <th class="text-center-middle" colspan="7">Total</th>
            <th class="text-center-middle">{{totalData.jumlah}}</th>
            <th class="text-right-middle">{{totalData.harga}}</th>
            <th class="text-right-middle">{{totalData.service_layanan}}</th>
            <th class="text-right-middle">{{totalData.diskon_detail}}</th>
            <th class="text-right-middle">{{totalData.sub_total}}</th>
            <th class="text-right-middle">{{totalData.total_all}}</th>
            <th class="text-right-middle">{{totalData.k_terapis}}</th>
            <th class="text-right-middle">{{totalData.k_manager}}</th>
            <th class="text-right-middle">{{totalData.k_marketing}}</th>
            <th class="text-right-middle">{{totalData.k_perusahaan}}</th>
        </tr>
        </tfoot>

    </table>
</div>


