<style type="text/css">
    #pageNumber {
        counter-increment: page
    }

    #pageNumber:first {
        counter-reset: page 9
    }

    table {
        border-collapse: collapse;
        width: 100%;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
    }

    .table td,
    .table th {
        font-size: 12px;
        border: 1px solid black;
        padding: 3px;
    }

    .table1 td,
    .table1 th {
        font-size: 12px;
        border: 1px solid black;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        margin-top: .6em;
        /* margin-right: -12px;
      margin-left: -12px; */
    }

    .col {
        flex-basis: 0;
        flex-grow: 1;
        min-width: 0;
        max-width: 100%;
    }

    .col-1 {
        flex: 0 0 40%;
        max-width: 40%
    }

    .col-2 {
        flex: 0 0 20%;
        max-width: 20%
    }

    .col-3 {
        flex: 0 0 70%;
        max-width: 70%
    }

    .col-4 {
        flex: 0 0 30%;
        max-width: 30%
    }

    .col-5 {
        flex: 0 0 28%;
        max-width: 28%
    }

    .footer {
        position: absolute;
        margin-top: 2em;
        bottom: 0;
        left: 0;
        right: 0;
        border: 2px solid black;

    }

    .table-top {
        border: 2px solid black;

    }
</style>
<table style="margin-bottom: 2.5em; border: none;">
    <tr>
        <td colspan="{{header + 14}}" style="text-align: center;">
            <h3 style="margin-bottom: 0px">LAPORAN WELLNESS PROGRAM</h3>
            <h3>Periode {{filter_mulai}} - {{filter_selesai}}</h3>
        </td>
    </tr>
</table>

<h4>{{row.kab}}</h4>
<div class="div-b-table table-responsive">
    <table class="table mb-5" >
        <thead class="bg-primary text-white">
        <tr style="border: 1px solid black">
            <th rowspan="3" class="text-center" style="vertical-align: middle">Event</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Type</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Order ID</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">User</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Address</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Race Category</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Age</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Body Height</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Body Weight</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Waist Size</th>
            <th rowspan="3" class="text-center" style="vertical-align: middle">Condition</th>
            <th colspan="{{header}}" class="align-center">Date (Calories)</th>
            <th rowspan="2" colspan="3" class="text-center" style="vertical-align: middle">Amount</th>
        </tr>

        <tr style="border: 1px solid black">
            {% for key, v in label %}
            <th colspan="3" class="align-center">{{v}}</th>
            {% endfor %}
        </tr>
        <tr style="border: 1px solid black">
            {% for key, vv in labelsub %}
            <th class="align-center">{{vv}}</th>
            {% endfor %}

            <th class="text-center" style="vertical-align: middle">Cal</th>
            <th class="text-center" style="vertical-align: middle">Dist</th>
            <th class="text-center" style="vertical-align: middle">Time</th>
        </tr>
        </thead>
        <tbody>
        {% for key, val in list %}

        <tr style="border: 1px solid black">
            <td class="align-center">{{ val.nama_event }}</td>
            <td class="align-center">{{ val.tipe }}</td>
            <td class="align-center"> {{ val.no_order_convert }}</td>
            <td class="align-center">{{ val.nama }}</td>
            <td class="align-center">{{ val.alamat }}</td>
            <td class="align-center">{{ val.race_kategori }}</td>
            <td class="align-center">{{ val.umur }}</td>
            <td class="align-center">{{ val.tinggi_badan }}</td>
            <td class="align-center">{{ val.lingkar_perut }}</td>
            <td class="align-center">{{ val.berat_badan }}</td>
            <td class="align-center">{{ val.is_condition }}</td>

            {% for key, v in val.detail %}
            <td class="align-center">{{ v }}</td>
            {% endfor %}

            {% for key, vk in val.arrTotal %}
            <td class="align-center">{{ vk}}</td>
            {% endfor %}

        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
