.list-group-item {
  padding: 0.2rem 1rem;
}

.custom-control {
  text-align: center;
}

.check-all {
  vertical-align: middle;
  margin: 2px;
}
table.dataTable thead td, table.dataTable thead th{
	padding : 10px !important;
}