<div class="row">
    <button class="btn btn-link col-4" (click)="addYear($event,-1)">
        <span class="ngb-dp-navigation-arrow left"></span>
    </button>
    <button *ngIf="!isyear" class="btn col-4" style="font-size: 18px;" (click)="showYear($event,false)">{{data.year}}</button>
    <button *ngIf="isyear" class="btn col-4" style="font-size: 18px;" (click)="showYear($event,false);">{{data.year}}></button>
    <button class="btn btn-link col-4" (click)="addYear($event,+1)">
        <span class="ngb-dp-navigation-arrow right"></span>
    </button>
    <div *ngFor="let month of months; let i = index; let first = first; let last = last" class="col-4" (click)="selectYearMonth($event,i)">
        <div [ngClass]="{'select': !isyear?(i+1)==data.month:(i+incr)==data.year,'outrange':isyear && (first || last)}" class="card-body">
            <span *ngIf="!isyear">{{month}}</span>
            <span *ngIf="isyear">{{i+incr}}</span>
        </div>
    </div>
</div>
