<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="x-apple-disable-message-reformatting">
        <!--[if !mso]><!-->
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!--<![endif]-->
        <title></title>
        <!--[if mso]>
        <style type="text/css">
            table {border-collapse:collapse;border-spacing:0;margin:0;}
            div, td {padding:0;}
            div {margin:0 !important;}
        </style>
        <noscript>
            <xml>
            <o:OfficeDocumentSettings>
                <o:PixelsPerInch>96</o:PixelsPerInch>
            </o:OfficeDocumentSettings>
            </xml>
        </noscript>
        <![endif]-->
        <style type="text/css">
            @media screen and (max-width: 350px) {
                .three-col .column {
                    max-width: 100% !important;
                }
            }
            @media screen and (min-width: 351px) and (max-width: 460px) {
                .three-col .column {
                    max-width: 50% !important;
                }
            }
            @media screen and (max-width: 460px) {
                .two-col .column,
                .two-col img {
                    max-width: 100% !important;
                }
            }
            @media screen and (min-width: 461px) {
                .three-col .column {
                    max-width: 33.3% !important;
                }
                .two-col .column {
                    max-width: 50% !important;
                }
                .sidebar .small {
                    max-width: 16% !important;
                }
                .sidebar .large {
                    max-width: 84% !important;
                }
            }
            .paragraph{
                font-weight: 400; font-size: 12px; line-height: 20px; color :#212121;
            }
            th, td {
                padding: 4px 10px;
            }
            table { 
                border-collapse: collapse; 
                }
            tr{ 
                border: 1px solid #e0e0e0; 
            }
        </style>
    </head>
    <body style="margin:0;padding:0;word-spacing:normal;background-color:#ffffff;">
        <div role="article" aria-roledescription="email" lang="en" style="-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ffffff;">
            <style>
                .font-standart{
                    font-weight:400;
                    font-size:14px;
                    line-height:20px;
                    color:#212121;
                    margin-bottom:24px;
                }

                .video-youtube{
                    width: 50%;
                    padding: 3%;
                }
                .deskripsi-video{
                    width: 50%;
                    padding: 3% 0%;
                }
                .row{
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;
                }
            </style>
            <div style="font-family:roboto,sans-serif;border:1px solid #e0e0e0;background-color:white;max-width:600px;margin:0 auto">
                <table  width="100%" cellpadding="0" cellspacing="0" >
                    <tbody>
                        <tr style="border: 0px solid #e0e0e0; ">
                            <th >
                                <div style="padding-top: 15px; padding-bottom: 15px;">
                                    <span>
                                        <img  src="{{logo}}" style="height: 50px;"></img>
                                    </span>
                                </div>
                            </th>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%;background-color:#cc5bd0 " cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr>
                            <td style="padding:24px">
                                <!-- <div style="font-size:13px;line-height:16px;color:#ecf3f7">Santa Monica 17th</div> -->
                                <div style="font-size:20px;line-height:24px;color:white">
                                    {% block title %}{% endblock %}
                                </div>
                            </td>
                        
                        </tr>
                        <tr></tr>
                    </tbody>
                </table>
                <div style="margin-bottom:24px;padding:24px 24px 0 24px">
                    <div  style="font-weight:400;font-size:14px;line-height:20px;color:#212121;margin-bottom:24px;white-space: pre-line;">                        
                        {% block content %}{% endblock %}
                    </div>
                </div>    
                <div style="background-color:#cc5bd0;padding:24px">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tbody>
                        <tr style="border: none;">
                            <td>
                                <strong style="color: #ffffff; font-size: large;">
                                    
                                    Santa Monica 17th Asia
                                
                                </strong>
                            </td>
                            <!-- <td>
                                <div style="font-size:10px;line-height:14px;font-weight:400;text-align:right">
                                    <a style="color:#ffffff;text-decoration:none">
                                        
                                    PT. Powerman Indonesia <br>Jl. Outer Ring Road Rukan Sedayu Square<br> Blok G No. 8 Cengkareng Barat,<br> Jakarta Barat 1173
                                    </a>
                                </div>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
