<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <!-- <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
                <div class="page-title-right d-lg-block">

                </div>
            </div>
        </div> -->
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm" [(ngModel)]="modelParam.nama" name="paramnama" type="text" placeholder="Search By Name">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <ng-select (change)="reloadDataTable()" [(ngModel)]="modelParam.status" name="status"
                                                [clearable]="false">
                                                <ng-option [value]="0">Active</ng-option>
                                                <ng-option [value]="1">Deleted</ng-option>
                                             </ng-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" *ngIf="checkAkses('create_kategori')" (click)="create()">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                    Add New
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0" data-page-length='20'>
                            <thead class="thead-light">
                                <tr>
                                    <th style="text-align: left; width: 300px">Name</th>
                                    <!-- <th style="text-align: left; width: 300px">Parent</th> -->
                                    <th style="text-align: center; width: 300px">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                    <td style="text-align: left; width: 300px" data-th="Name"><span [innerHTML]="val.nama_index"></span></td>
                                    <!-- <td style="text-align: left; width: 300px" data-th="Name">{{ val.parent }}</td> -->
                                    <td style="text-align: center; width: 300px" data-th="Status" class="text-capitalize" style="text-align: center;">{{ val.status }}</td>
                                    <td class="row-action">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" *ngIf="checkAkses('edit_kategori') && val.is_deleted == 0" (click)="edit(val)" class="mb-primary mr-2" placement="left" ngbTooltip="Edit">
                                                    <i class="fa fa-edit font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" (click)="delete(val)" *ngIf="checkAkses('delete_kategori') && val.is_deleted == 0" class="mb-danger" placement="left" ngbTooltip="Hapus">
                                                    <i class="fa fa-trash font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a href="javascript: void(0);" (click)="restore(val)" *ngIf="val.is_deleted == 1" class="mb-danger" placement="left" ngbTooltip="Restore">
                                                    <i class="fa fa-recycle font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-footer" style="border-bottom: 1px solid #f6f6f6; border-top: unset; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView && checkAkses('save_kategori')" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <span style="font-style: italic;font-size: 11px; font-weight: bold;"> 
                                        Sign <span style="font-size: 13px;color: red">*</span> is required </span>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Kategori Strava</label>
                                        <div class="col-md-8">
                                            <ng-select [items]="listKategoriStrava" bindLabel="nama" bindValue="id" [(ngModel)]="model.m_kategori_strava_id" name="m_kategori_strava_id" placeholder="Select Category Strava"></ng-select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Kategori Garmin</label>
                                        <div class="col-md-8">
                                            <ng-select [items]="listKategoriGarmin" bindLabel="nama" bindValue="id" [(ngModel)]="model.m_kategori_garmin_id" name="m_kategori_garmin_id" placeholder="Select Category Garmin"></ng-select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Category Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" [(ngModel)]="model.nama" name="nama" placeholder="Name"/>
                                        </div>
                                    </div>

                                    
                                    <!-- <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm">Sort Order</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="number" [(ngModel)]="model.sort_order" name="sort_order" placeholder="Sort Order" min="0"/>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-md-6">

                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Status</label>
                                        <div class="col-md-8">
                                            <div class="btn-group-toggle m-mb-15" ngbRadioGroup name="radioBasic" [(ngModel)]="model.status" name="status">
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.status == 'active' ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.status == 'active'"></i>
                                                    <input ngbButton type="radio" value="active"> Active
                                                </label>
                                                <label ngbButtonLabel class="btn-sm" [ngClass]="model.status == 'inactive' ? 'btn-primary' : 'btn-outline-primary'">
                                                    <i class="fas fa-check" *ngIf="model.status == 'inactive'"></i>
                                                    <input ngbButton type="radio" value="inactive"> Inactive
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
