<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <ng-select [items]="listEvent" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="model.m_event_id" name="m_event_id" placeholder="Search by Event"
                                       (ngModelChange)="reset_tampilan()"></ng-select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-primary"  [disabled]="model.m_event_id == undefined" (click)="tampilkan(0)">
                              <i class="fa fa-eye font-size-14 align-middle mr-1"></i> Show
                            </button>

                            <button type="button" class="btn btn-sm btn-success ml-1"
                                    [disabled]="model.m_event_id == undefined || listData.length == 0"
                                    (click)="tampilkan(1)">
                                    <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i> Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-hover mb-0 mobile-optimised">
                            <thead>
                            <tr>
                                <th class="text-left" style="vertical-align: middle">Addon Name</th>
                                <th class="text-center" style="vertical-align: middle">Qty</th>
                               
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let val of listData">
                                <td class="align-left">{{ val.nama_produk }}</td>
                                <td class="align-center">{{ val.jumlah }}</td>
                            </tr>
                            <tr>
                                <td class="align-center"><b>Total</b></td>
                                <td class="align-center"><b>{{total}}</b></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>