<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label
                                class="col-md-3 col-form-label col-form-label-md required">Customer</label>
                        <div class="col-md-9">
                            <div class="btn-group" style="width:100%!important;">
                                <ng-select class="custom"
                                           [items]="listCustomer" bindLabel="nama" style="width:100%!important;"
                                           [disabled]="checkout.is_bayar == 1"
                                           (keyup)="getCustomerSearch($event.target.value)"
                                           [(ngModel)]="checkout.m_customer_id" name="m_customer_id"
                                           placeholder="Masukkan 3 Karakter"
                                           appendTo="body">
                                    <ng-template ng-label-tmp let-item="item">
                                        {{item.nama_view }} - <span
                                            class="badge rounded-pill {{item.tipe == 1 ? 'bg-success' : 'bg-danger'}}"
                                            *ngIf="item.tipe !== undefined">{{item.tipe == 1 ? 'Member' : 'Non Member'}}</span>
                                    </ng-template>
                                    <ng-template ng-option-tmp let-item="item">
                                        {{item.nama_view }} - <span
                                            class="badge rounded-pill {{item.tipe == 1 ? 'bg-success' : 'bg-danger'}}"
                                            *ngIf="item.tipe !== undefined">{{item.tipe == 1 ? 'Member' : 'Non Member'}}</span>
                                    </ng-template>
                                </ng-select>
                                <button type="button" class="btn btn-primary btn-sm" [disabled]="checkout.is_bayar == 1"
                                        (click)="openModal(modalCustomer,'modalCustomer')">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                </button>
                            </div>


                        </div>
                    </div>

                    <div class="form-group row">
                        <label
                                class="col-md-3 col-form-label col-form-label-md">Terapis</label>
                        <div class="col-md-9">
                            <div class="btn-group" style="width:100%!important;">
                                <ng-select class="custom"
                                           [items]="listTerapis" bindLabel="nama" bindValue="id"
                                           style="width:100%!important;"
                                           [disabled]="checkout.is_bayar == 1"
                                           [(ngModel)]="checkout.terapis_id" name="terapis_id"
                                           placeholder="Pilih Terapis"
                                           appendTo="body">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label col-form-label-md">Waktu Layanan</label>
                        <div class="col-md-9">
                            <ngb-timepicker [(ngModel)]="checkout.waktu" [seconds]="false"
                                            [disabled]="checkout.is_bayar == 1"
                                            name="waktu"></ngb-timepicker>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label
                                class="col-md-3 col-form-label col-form-label-md">Kode Nota</label>
                        <div class="col-md-9">
                            <input class="form-control form-control-md" type="text" disabled="true"
                                   name="nama" [(ngModel)]="checkout.kode_nota" name="kode_nota"
                                   placeholder="Generate Otomatis"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label col-form-label-md required">Tanggal</label>
                        <div class="col-md-9">
                            <div class="input-group input-group-md clockpicker">
                                <input ngbDatepicker [disabled]="checkout.is_bayar == 1"
                                       class="form-control form-control-md"
                                       [(ngModel)]="checkout.tanggal"
                                       name="tanggal" placeholder="dd/mm/yyyy"
                                       #tanggal="ngbDatepicker"
                                       [minDate]="{year: 1950, month: 1, day: 1}"
                                       (click)="tanggal.toggle();"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary" style="border: 1px solid #c8ced3">
                            <b class="judul-header">Layanan</b>
                            <div class="pull-right">
                                <button class="btn btn-success btn-sm mr-1" [disabled]="checkout.is_bayar == 1"
                                        type="button" (click)="openModal(modalLayanan, 'modalLayanan')">
                                    <i class="fa fa-plus"></i> Tambah Layanan
                                </button>

                                <button class="btn btn-info btn-sm" [disabled]="checkout.is_bayar == 1"
                                        type="button" (click)="openModal(modalLayananPaket, 'modalLayananPaket')">
                                    <i class="fa fa-plus"></i> Tambah Paket
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <table class="table table-bordered" style="margin-bottom: 0px">
                                <thead class="bg-gray-100">
                                <tr>
                                    <th rowspan="2" colspan="2" class="text-center" style="width: 315px;">
                                        Layanan
                                    </th>

                                    <th rowspan="2" class="text-center" style="width: 100px;">
                                        Harga
                                    </th>
                                    <th rowspan="2" class="text-center" style="width: 75px;">
                                        Jumlah
                                    </th>
                                    <th colspan="2" class="text-center" style="width: 75px;">
                                        Diskon
                                    </th>
                                    <th rowspan="2" class="text-center" style="width: 100px;">
                                        Subtotal
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center">
                                        Jenis
                                    </th>
                                    <th class="text-center" style="width: 180px;">
                                        Nominal
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let val of listLayanan; index as i">
                                    <td class="text-center" style="width: 10px;">
                                        <button type="button" class="btn btn-sm btn-danger"
                                                [disabled]="checkout.is_bayar == 1"
                                                (click)="removeDetail(listLayanan, i)">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </td>
                                    <td class="text-left">


                                        <span *ngIf="val.tipe != 2">{{val.nama}}</span>

                                        <span *ngIf="val.tipe == 2" style="font-weight: bold">{{val.nama}}</span>

                                        <div class="col-md-12 pt-1 pl-0" *ngIf="val.tipe == 2">
                                            <div class="alert alert-warning pl-1">
                                                <div class="row p-0">
                                                    <div class="col-md-6">
                                                        <ul style="padding-left: 20px" class="mb-0"
                                                            *ngFor="let row of val.isi_paket_array">
                                                            <li>{{row}}</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </td>
                                    <td class="text-right">
                                        {{val.harga | rupiah}}
                                    </td>
                                    <td>
                                        <input class="form-control font-weight-bold form-control-md text-center"
                                               mask="separator" (keyup)="getTotalLayanan()"
                                               [disabled]="checkout.is_bayar == 1"
                                               name="total_layanan" [(ngModel)]="val.jumlah">
                                    </td>

                                    <td class="text-right">
                                        <div class="btn-group" style="width:100%!important;">
                                            <ng-select class="custom"
                                                       [items]="listGetDiskon" bindLabel="nama"
                                                       style="width:100%!important;" (change)="getTotalLayanan()"
                                                       [disabled]="checkout.is_bayar == 1"
                                                       [(ngModel)]="val.jenis_diskon" name="diskon"
                                                       placeholder="Pilih Diskon"
                                                       appendTo="body">
                                            </ng-select>
                                            <button type="button" class="btn btn-sm btn-danger"
                                                    [disabled]="checkout.is_bayar == 1"
                                                    (click)="removeDiskon(val, i,'layanan')">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </td>

                                    <td class="text-right">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" (keyup)="getTotalLayanan()"
                                               [disabled]="checkout.is_bayar == 1 || (val.jenis_diskon.id !== undefined && val.jenis_diskon.id !== -1)"
                                               name="nominal" [(ngModel)]="val.diskon">
                                    </td>

                                    <td class="text-right">
                                        {{val.subtotal | rupiah}}
                                    </td>
                                </tr>

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2" class="text-total" style="text-align: right;">
                                        <b>
                                            Total
                                        </b>
                                    </td>
                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_layanan" [(ngModel)]="checkout.total_layanan">
                                    </td>

                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-center"
                                               mask="separator" [disabled]="true"
                                               name="total_layanan_jumlah" [(ngModel)]="checkout.total_layanan_jumlah">
                                    </td>

                                    <td class="text-total"></td>
                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_layanan_jumlah" [(ngModel)]="checkout.total_diskon_layanan">
                                    </td>

                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_layanan_subtotal"
                                               [(ngModel)]="checkout.total_layanan_subtotal">
                                    </td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary" style="border: 1px solid #c8ced3">
                            <b class="judul-header">Barang</b>
                            <div class="pull-right">
                                <button class="btn btn-success btn-sm"
                                        type="button" type="button" [disabled]="checkout.is_bayar == 1"
                                        (click)="openModal(modalBarang, 'modalBarang')">
                                    <i class="fa fa-plus"></i> Tambah Barang
                                </button>
                            </div>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <table class="table table-bordered" style="margin-bottom: 0px">
                                <thead class="bg-gray-100">
                                <tr>
                                    <th rowspan="2" colspan="2" class="text-center" style="width: 315px;">
                                        Barang
                                    </th>
                                    <th rowspan="2" class="text-center" style="width: 100px;">
                                        Harga
                                    </th>
                                    <th rowspan="2" class="text-center" style="width: 75px;">
                                        Jumlah
                                    </th>
                                    <th colspan="2" class="text-center" style="width: 75px;">
                                        Diskon
                                    </th>
                                    <th rowspan="2" class="text-center" style="width: 100px;">
                                        Subtotal
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center">
                                        Jenis
                                    </th>
                                    <th class="text-center" style="width: 180px;">
                                        Nominal
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let val of listBarang; index as i">
                                    <td class="text-center" style="width: 10px;">
                                        <button type="button" class="btn btn-sm btn-danger"
                                                [disabled]="checkout.is_bayar == 1"
                                                (click)="removeDetail(listBarang, i)">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </td>
                                    <td class="text-left">
                                        {{val.nama}}
                                    </td>
                                    <td class="text-right">
                                        {{val.harga |rupiah}}
                                    </td>
                                    <td>
                                        <input class="form-control font-weight-bold form-control-md text-center"
                                               mask="separator" (keyup)="getTotalBarang()"
                                               [disabled]="checkout.is_bayar == 1"
                                               name="total_layanan" [(ngModel)]="val.jumlah">
                                    </td>
                                    <td class="text-right">
                                        <div class="btn-group" style="width:100%!important;">
                                            <ng-select class="custom"
                                                       [items]="listGetDiskon" bindLabel="nama"
                                                       style="width:100%!important;" (change)="getTotalBarang()"
                                                       [disabled]="checkout.is_bayar == 1"
                                                       [(ngModel)]="val.jenis_diskon" name="diskon"
                                                       placeholder="Pilih Diskon"
                                                       appendTo="body">
                                            </ng-select>
                                            <button type="button" class="btn btn-sm btn-danger"
                                                    [disabled]="checkout.is_bayar == 1"
                                                    (click)="removeDiskon(val, i,'barang')">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </td>

                                    <td class="text-right">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" (keyup)="getTotalBarang()"
                                               [disabled]="checkout.is_bayar == 1 || (val.jenis_diskon !== undefined && val.jenis_diskon.id !== undefined && val.jenis_diskon.id !== -1)"
                                               name="nominal" [(ngModel)]="val.diskon">
                                    </td>
                                    <td class="text-right">
                                        {{val.subtotal| rupiah}}
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="2" class="text-total" style="text-align: right;">
                                        <b>
                                            Total
                                        </b>
                                    </td>
                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_barang" [(ngModel)]="checkout.total_barang">
                                    </td>
                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-center"
                                               mask="separator" [disabled]="true"
                                               name="total_barang_jumlah" [(ngModel)]="checkout.total_barang_jumlah">
                                    </td>
                                    <td class="text-total"></td>
                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_layanan_jumlah" [(ngModel)]="checkout.total_diskon_barang">
                                    </td>

                                    <td class="text-total">
                                        <input class="form-control font-weight-bold form-control-md text-right"
                                               mask="separator" [disabled]="true"
                                               name="total_barang_subtotal"
                                               [(ngModel)]="checkout.total_barang_subtotal">
                                    </td>
                                </tr>

                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary text-center"
                             style="border: 1px solid #c8ced3">
                            <b class="judul-header">Keterangan</b>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <textarea class="form-control form-control-md" name="keterangan" rows="2"
                                      [(ngModel)]="checkout.keterangan"
                                      [disabled]="checkout.is_bayar == 1"
                                      placeholder="Masukkan Keterangan ..."></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary text-center"
                             style="border: 1px solid #c8ced3">
                            <b class="judul-header">Service Layanan</b>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <div class="input-group input-group-md">
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        Rp
                                    </span>
                                </div>
                                <input class="form-control font-weight-bold form-control-md text-right font-weight-bold"
                                       [(ngModel)]="checkout.service_layanan" mask="separator"
                                       [disabled]="checkout.is_bayar == 1"
                                       (keyup)="totalPembelian()">

                            </div>


                        </div>
                    </div>
                </div>
                <!--                <div class="col-md-12">-->
                <!--                    <div class="card">-->
                <!--                        <div class="card-header bg-primary text-center"-->
                <!--                             style="border: 1px solid #c8ced3">-->
                <!--                            <b class="judul-header">Diskon</b>-->
                <!--                        </div>-->
                <!--                        <div class="card-body" style="padding: 0px">-->
                <!--                            <ng-select [items]="listGetDiskon" bindLabel="nama"-->
                <!--                                       [disabled]="checkout.is_bayar == 1 || (listLayanan.length == 0 && listBarang.length == 0)"-->
                <!--                                       (change)="setDiskon(checkout.diskon)"-->
                <!--                                       [(ngModel)]="checkout.diskon" name="diskon"-->
                <!--                                       placeholder="Pilih Diskon"-->
                <!--                                       appendTo="body">-->
                <!--                                <ng-template ng-option-tmp let-item="item">-->
                <!--                                    {{item.nama }}-->
                <!--                                </ng-template>-->
                <!--                            </ng-select>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary text-center"
                             style="border: 1px solid #c8ced3">
                            <b class="judul-header">Total</b>
                            <div class="pull-right">

                            </div>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <ul class="list-group">
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    *ngIf="checkout.total_layanan > 0">
                                    Layanan
                                    <span class="font-weight-bold">{{checkout.total_layanan | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    *ngIf="checkout.total_barang > 0">
                                    Barang
                                    <span class="font-weight-bold">{{checkout.total_barang | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    *ngIf="checkout.service_layanan > 0">
                                    Service Layanan
                                    <span class="font-weight-bold">{{checkout.service_layanan | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    *ngIf="checkout.total_diskon_layanan > 0">
                                    Diskon Layanan
                                    <span class="font-weight-bold">{{checkout.total_diskon_layanan | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center"
                                    *ngIf="checkout.total_diskon_barang > 0">
                                    Diskon Barang
                                    <span class="font-weight-bold">{{checkout.total_diskon_barang | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center total-pembelian">
                                    <b>Total Pembelian</b>
                                    <span class="font-weight-bold">{{checkout.jumlah_bayar | rupiah}}</span>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header bg-primary text-left"
                             style="border: 1px solid #c8ced3">
                            <b class="judul-header">Cara Pembayaran</b>
                        </div>
                        <div class="card-body" style="padding: 0px">
                            <ul class="list-group">
                                <li *ngFor="let val of listCaraPembayaran"
                                    class="list-group-item d-flex justify-content-between align-items-center list-group-cara-pembayaran">
                                    <label class="col-md-3 col-form-label col-form-label-md">{{val.nama}}</label>
                                    <div class="col-md-9 pr-0">
                                        <input class="form-control font-weight-bold form-control-md text-right font-weight-bold"
                                               [(ngModel)]="val.jumlah_bayar" mask="separator"
                                               [disabled]="checkout.is_bayar == 1"
                                               (keyup)="getTotalPembayaran()">
                                    </div>
                                </li>


                                <li class="list-group-item d-flex justify-content-between align-items-center total-pembelian bg-warning">
                                    <b>Total</b>
                                    <span class="font-weight-bold">{{checkout.cara_pembayaran | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-danger"
                                    *ngIf="checkout.kekurangan > 0">
                                    <b>Kekurangan</b>
                                    <span class="font-weight-bold">{{checkout.kekurangan | rupiah}}</span>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center bg-danger"
                                    *ngIf="checkout.kembalian > 0">
                                    <b>Kembalian</b>
                                    <span class="font-weight-bold">{{checkout.kembalian | rupiah}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row footer-kasir">
        <div class="col-md-12">
            <button *ngIf="checkout.is_bayar == 0" class="btn btn-success float-right ml-1" (click)="save_checkout()"
                    [disabled]="loading_save">
                <i class="fa fa-paper-plane" *ngIf="!loading_save"></i>
                <i class="spinner-border text-light" *ngIf="loading_save"></i> &ngsp;
                Checkout
            </button>
            <button class="btn btn-danger float-right ml-1" *ngIf="checkout.is_bayar == 1"
                    (click)="print_nota(checkout.id)"
                    style="margin-left: 10px;">
                <i class="fa fa-print">
                </i>
                Nota
            </button>
            <button class="btn btn-secondary float-right" [routerLink]="['/transaksi/transaksi-kasir']">
                <i class="fa fa-plus"></i> Buat Baru
            </button>
        </div>
    </div>
</div>

<ng-template #modalLayanan let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Layanan</h5>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control form-control-md" type="text"
                       name="pelayanan"
                       placeholder="Cari Layanan" autofocus/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="list-group">
                    <div id="hover">
                        <ul class="list-group" *ngFor="let val of listGetLayanan">
                            <li class="list-group-item list-group-item-modal d-flex justify-content-between align-items-center"
                                style="cursor: pointer" (click)="choiceLayanan(val)">
                                {{val.nama}}
                                <span class="badge badge-info badge-pill"
                                      style="font-size: 12px;">Rp. {{val.harga | rupiah}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalLayananPaket let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Paket Layanan</h5>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control form-control-md" type="text"
                       name="layanan"
                       placeholder="Cari Paket Pelayanan" autofocus/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="list-group">
                    <div id="hover">
                        <ul class="list-group" *ngFor="let val of listGetLayanan">
                            <li class="list-group-item list-group-item-modal d-flex justify-content-between align-items-center"
                                style="cursor: pointer" (click)="choiceLayanan(val)">
                                {{val.nama}}
                                <span class="badge badge-info badge-pill"
                                      style="font-size: 12px;">Rp. {{val.harga | rupiah}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalBarang let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Barang</h5>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <div class="form-group row">
            <div class="col-md-12">
                <input class="form-control form-control-md" type="text"
                       name="pelayanan"
                       placeholder="Cari Barang" autofocus/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <div class="list-group">
                    <div id="hover">
                        <ul class="list-group" *ngFor="let val of listGetBarang">
                            <li class="list-group-item list-group-item-modal d-flex justify-content-between align-items-center"
                                style="cursor: pointer" (click)="choiceBarang(val)">
                                {{val.nama}}
                                <span class="badge badge-info badge-pill"
                                      style="font-size: 12px;">Rp. {{val.harga | rupiah}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #modalCustomer let-modal>
    <div class="modal-header bg-primary">
        <div class="col-md-6">
            <h5 class="modal-title mt-0 text-white">Buat Customer</h5>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm float-right" (click)="closeModal()" aria-label="Close">
                <i class="fa fa-times font-size-14 align-middle"></i>
            </button>
        </div>

    </div>
    <div class="modal-body">
        <form disabled="isView">
            <fieldset [disabled]="isView">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12" style="padding-bottom: 10px;">
                                            <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                Sign <span style="font-size: 13px;color: red">*</span>
                                                is required </span>
                                <br>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label
                                            class="col-md-4 col-form-label col-form-label-sm required">Nama</label>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm" type="text" name="nama"
                                               [(ngModel)]="modelCustomer.nama" name="nama"
                                               placeholder="Nama Customer"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm required">No Telepon</label>
                                    <div class="col-md-8">
                                        <input class="form-control form-control-sm" type="text" name="no_telepon"
                                               [(ngModel)]="modelCustomer.no_telepon" name="no_telepon"
                                               placeholder="No Telepon"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-4 col-form-label col-form-label-sm required">Tipe</label>
                                    <div class="col-sm-4">
                                        <select class="form-control form-control-sm" [(ngModel)]="modelCustomer.tipe"
                                                name="tipe">
                                            <option value="">Pilih Tipe</option>
                                            <option value="0">Non Member</option>
                                            <option value="1">Member</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm">Provinsi</label>
                                    <div class="col-md-8">
                                        <ng-select [disabled]="isView" [items]="listDataProvinsi" bindLabel="provinsi"
                                                   bindValue="id" [(ngModel)]="modelCustomer.w_provinsi_id"
                                                   name="w_provinsi_id"
                                                   (change)="getKota('change')"></ng-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm">Kota / Kabupaten</label>
                                    <div class="col-md-8">
                                        <ng-select [disabled]="isView" [items]="listDataKota" bindLabel="kota"
                                                   bindValue="id"
                                                   [(ngModel)]="modelCustomer.w_kota_id" name="w_kota_id"
                                                   (change)="getKecamatan('change')">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm">Kecamatan</label>
                                    <div class="col-md-8">
                                        <ng-select [disabled]="isView" [items]="listDataKecamatan" bindLabel="kecamatan"
                                                   bindValue="id" [(ngModel)]="modelCustomer.w_kecamatan_id"
                                                   name="w_kecamatan_id"
                                                   (change)="getDesa('change')"></ng-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm">Desa</label>
                                    <div class="col-md-8">
                                        <ng-select [disabled]="isView" [items]="listDataDesa" bindLabel="desa"
                                                   bindValue="id"
                                                   [(ngModel)]="modelCustomer.w_desa_id" name="w_desa_id">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="modal-footer">
        <div class="float-right">
            <button class="btn btn-light btn-sm mr-2" (click)="closeModal()">
                <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                Back
            </button>
            <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="saveCustomer()">
                <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                Save
            </button>
        </div>
    </div>
</ng-template>
