.card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.pull-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.judul-header {
  color: white !important;
  font-size: 15px;
}

.table thead th {
  vertical-align: middle !important;
}


.bg-gray-100 {
  background-color: #f0f3f5 !important;
}

.text-total {
  background: #c2cfd6;
  font-size: 14px;
  font-weight: bold;
}

.total-pembelian {
  background: #c2cfd6;
  font-weight: bold;
}

.table-bordered {
  border: 1px solid #dbddde!important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dbddde!important;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table td, .table th {
  border-top: 1px solid #c8ced3;
  padding: 5px;
  cursor: pointer;
}

.list-group{
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item{
  padding: 0.50rem 1.25rem;
}

.table td, .table th {
  vertical-align: middle;
}

.table-bordered tbody td {
  padding: 0.50rem 1.0rem;
}

.footer-kasir{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #FFFFFF;
  border-top: 1px solid #dddddd;
  padding: 0.5em;
}

.list-group-cara-pembayaran {
  padding: 1em;
}

.list-group-cara-pembayaran label{
  //font-size: 12px;
}

.list-group-item-modal{
  border-radius: 0px;
}

.spinner-border {
  display: inline-block;
  width: 15px;
  height: 15px;
}

.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
}

//.ng-select.ng-select-single .ng-select-container {
//  height: 50px !important;
//}

::ng-deep .ng-select.ng-select-single .ng-select-container  {
  height: 36px !important;
}
