<div>
    <!-- <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <ng-select [items]="listEvent" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="model.m_event_id" name="m_event_id" placeholder="Search by Event"
                                       (ngModelChange)="reset_tampilan()"></ng-select>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-sm btn-primary" (click)="tampilkan()">
                                <i class="fas fa-eye font-size-14 align-middle mr-1"></i> Show
                            </button>

                            <button type="button" class="btn btn-sm btn-success ml-1" [disabled]="model.m_event_id == undefined || listData.length == 0" (click)="export(model.m_event_id)">
                                <i class="fas fa-file-excel font-size-14 align-middle mr-1"></i> Export
                            </button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- start event running -->
<div class="container-fluid">
    <div class="col-md-12 text-center" style="padding-top : 20px;">
        <h4>LEADERBOARD</h4>
        <h4>EVENT {{event.run}}</h4>
    </div>
    <div class="col-md-12 mt-5">
        <ul ngbNav #lapNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
            <li [ngbNavItem]="1 + a" *ngFor="let data of listDataRunning; index as a">
                <a ngbNavLink>
                    <span class="d-sm-block">{{data.nama}}</span>
                </a>
                <ng-template ngbNavContent>
                    <!-- <ng-template [ngTemplateOutlet]="Leaderboard"></ng-template> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover mb-0">
                                            <thead>
                                            <tr class="bg-primary text-white">
                                                <th class="align-center">Ranking</th>
                                                <th *ngIf="data.is_user == 0">Community Name</th>
                                                <th *ngIf="data.is_user == 1">User</th>
                                                <th class="align-center">Kilometers</th>
                                                <!-- <th class="align-center">Calories</th>         -->
                                                <!-- <th class="align-left">Telp</th> -->
                                                <th *ngIf="data.is_user == 1" class="align-center">Community</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let val of data.detail; index as i">
                                                <td data-th="Ranking" class="align-center">{{ val.jarak != 0 ? (i + 1) : '-' }}</td>
                                                <td data-th="User" *ngIf="data.is_user == 1">{{ val.nama_user }} - {{ val.ebib_no }}</td>
                                                <td data-th="Community Name" *ngIf="data.is_user == 0">{{ val.nama }}</td>
                                                <td data-th="Kilometers" class="align-center">{{ val.jarak }}</td>
                                                <!-- <td data-th="Rank" class="align-center">{{ val.cal }}</td> -->
                                                <!-- <td data-th="Rank" class="align-left">{{ val.no_hp }}</td> -->
                                                <td data-th="Community" *ngIf="data.is_user == 1" class="align-center">{{ val.nama_club }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="lapNav"></div>
    </div>
</div>
<!-- end event running -->

<!-- start event cycling -->
<div class="container-fluid">
    <div class="col-md-12 mt-5 text-center">
        <h4>LEADERBOARD</h4>
        <h4>EVENT {{event.cyc}}</h4>
    </div>
    <div class="col-md-12 mt-5">
        <ul ngbNav #lapNav2="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom">
            <li [ngbNavItem]="1 + a" *ngFor="let data of listDataCycling; index as a">
                <a ngbNavLink>
                    <span class="d-sm-block">{{data.nama}}</span>
                </a>
                <ng-template ngbNavContent>
                    <!-- <ng-template [ngTemplateOutlet]="Leaderboard"></ng-template> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover mb-0">
                                            <thead>
                                                <tr class="bg-primary text-white">
                                                    <th class="align-center">Ranking</th>
                                                    <th *ngIf="data.is_user == 0">Community Name</th>
                                                    <th *ngIf="data.is_user == 1">User</th>
                                                    <th class="align-center">Kilometers</th>
                                                    <!-- <th class="align-center">Calories</th>         -->
                                                    <!-- <th class="align-left">Telp</th> -->
                                                    <th *ngIf="data.is_user == 1" class="align-center">Community</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let val of data.detail; index as i">
                                                    <td data-th="Ranking" class="align-center">{{ val.jarak != 0 ? (i + 1) : '-' }}</td>
                                                    <td data-th="User" *ngIf="data.is_user == 1">{{ val.nama_user }} - {{ val.ebib_no }}</td>
                                                    <td data-th="Community Name" *ngIf="data.is_user == 0">{{ val.nama }}</td>
                                                    <td data-th="Kilometers" class="align-center">{{ val.jarak }}</td>
                                                    <!-- <td data-th="Rank" class="align-center">{{ val.cal }}</td> -->
                                                    <!-- <td data-th="Rank" class="align-left">{{ val.no_hp }}</td> -->
                                                    <td data-th="Community" *ngIf="data.is_user == 1" class="align-center">{{ val.nama_club }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </li>
        </ul>
        <div [ngbNavOutlet]="lapNav2"></div>
    </div>
</div>
<!-- end event cycling -->