@media screen and (max-width: 601px) {
  table.mobile-optimised td {
    display: block;
    float: left;
    width: calc(100% - 20px);
    clear: both;
    background: #f5f5f5;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
  }
  table.mobile-optimised thead {
    display: block;
  }
}
