<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="periode" daterangepicker
                                       [(ngModel)]="model.periode"
                                       [options]="options" (selected)="selectedDate($event, daterange)"
                                       placeholder="Periode" autocomplete="off"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-primary" (click)="tampilkan(0)">
                                <i class="fa fa-eye font-size-14 align-middle mr-1"></i> Tampilkan
                            </button>

                            <button type="button" class="btn btn-sm btn-success ml-1"
                                    [disabled]="listData.length == 0"
                                    (click)="tampilkan(1)">
                                <i class="fa fa-file-excel font-size-14 align-middle mr-1"></i> Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover mb-0 mobile-optimised" width="100%">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th class="text-left" style="vertical-align: middle">Kode Nota</th>
                                <th class="text-center" style="vertical-align: middle">Tanggal</th>
                                <th class="text-center" style="vertical-align: middle" style="width: 20px;">Waktu
                                    Layanan
                                </th>
                                <th class="text-left" style="vertical-align: middle">Nama Customer</th>
                                <th class="text-center" style="vertical-align: middle">Nomor Telpon</th>
                                <th class="text-center" style="vertical-align: middle">Nama Therapist</th>
                                <th class="text-center" style="vertical-align: middle">Layanan/Barang</th>
                                <th class="text-center" style="vertical-align: middle">Jumlah</th>
                                <th class="text-center" style="vertical-align: middle">Harga</th>
                                <th class="text-center" style="vertical-align: middle">Service Layanan</th>
                                <th class="text-center" style="vertical-align: middle">Diskon</th>
                                <th class="text-center" style="vertical-align: middle">Sub Total</th>
                                <th class="text-center" style="vertical-align: middle">Total</th>
                                <th class="text-center" style="vertical-align: middle">Komisi Terapis</th>
                                <th class="text-center" style="vertical-align: middle">Komisi Manager</th>
                                <th class="text-center" style="vertical-align: middle">Komisi Marketing</th>
                                <th class="text-center" style="vertical-align: middle">Komisi Perusahaan</th>
                                <th class="text-right" style="vertical-align: middle">
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <ng-container *ngFor="let val of listData; index as key">


                                <!--                                </tr>-->
                                <ng-container *ngFor="let vals of val.detail; index as i">
                                    <tr>

                                        <!--                                    <tr>-->
                                        <td class="text-left-middle" [attr.rowspan]="val.rowspan"
                                            *ngIf="i == 0">{{ val.kode_nota }}</td>
                                        <td class="text-center-middle"
                                            [attr.rowspan]="val.rowspan"
                                            *ngIf="i == 0">{{ val.created_at * 1000 | date : "dd/MM/yyyy" }}</td>
                                        <td class="text-center-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ val.waktu}}</td>
                                        <td class="text-left-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ val.nama_customer }}</td>
                                        <td class="text-center-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ val.no_telepon }}</td>
                                        <td class="text-left-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ val.nama_terapis }}</td>
                                        <td class="text-left-middle"
                                            *ngIf="vals.tipe == 'layanan'">{{ vals.nama_layanan }}</td>
                                        <td class="text-left-middle"
                                            *ngIf="vals.tipe == 'barang'">{{ vals.nama_barang }}</td>
                                        <td class="text-center-middle">{{ vals.jumlah | rupiah}}</td>
                                        <td class="text-right-middle">{{ vals.harga | rupiah}}</td>
                                        <td class="text-center-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ vals.service_layanan | rupiah }}</td>

                                        <td class="text-right-middle">{{ vals.diskon_detail | rupiah}}</td>
                                        <td class="text-right-middle">{{ vals.sub_total | rupiah}}</td>

                                        <td class="text-center-middle"
                                            [attr.rowspan]="val.rowspan" *ngIf="i == 0">{{ val.total | rupiah}}</td>


                                        <td class="text-right-middle">{{ vals.komisi_terapis | rupiah}}</td>
                                        <td class="text-right-middle">{{ vals.komisi_manager | rupiah}}</td>
                                        <td class="text-right-middle">{{ vals.komisi_marketing | rupiah}}</td>
                                        <td class="text-right-middle">{{ vals.komisi_perusahaan | rupiah}}</td>
                                        <td class="text-center-middle" [attr.rowspan]="val.rowspan" *ngIf="i == 0">
                                            <button type="button" class="btn btn-sm btn-success"
                                                    (click)="detail(val)">
                                                Detail
                                            </button>
                                            <button type="button" class="btn btn-sm btn-danger ml-1"
                                                    (click)="hapus(val)">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>

                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="text-center-middle" [attr.colspan]="7">Total</th>
                                <th class="text-center-middle">{{totalData.jumlah | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.harga | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.service_layanan | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.diskon_detail | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.sub_total | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.total_all | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.k_terapis | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.k_manager | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.k_marketing | rupiah}}</th>
                                <th class="text-right-middle">{{totalData.k_perusahaan | rupiah}}</th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
