<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                               [(ngModel)]="modelParam.nama"
                                               name="paramnama" type="text" placeholder="Cari Nama">
                                    </div>

                                </div>
                                <div class="col-md-3">
                                    <select (change)="reloadDataTable()" class="form-control form-control-sm"
                                        [(ngModel)]="modelParam.is_deleted" name="is_deleted">
                                        <option value=0>Active</option>
                                        <option value=1>Inactive</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" *ngIf="checkAkses('create_kebutuhan')" (click)="create()">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                    Tambah Kebutuhan Setoran
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                               data-page-length='20'>
                            <thead class="thead-light">
                            <tr>
                                <th class="text-left">Nama</th>
                                <th class="text-left">Tanggal</th>
                                <th class="text-left">Keterangan</th>
                                <th class="text-left">Dibuat Oleh</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                <td class="align-left" data-th="Nama">{{ val.nama }}</td>
                                <td class="align-left" data-th="Tanggal">{{ val.tanggal | date : "dd/MM/yyyy"}}</td>
                                <td class="align-left" data-th="Keterangan">{{ val.keterangan }}</td>
                                <td>{{ val.dibuat_oleh }}<br><small>at {{ val.dibuat_pada }}</small></td>
                                <td class="row-action">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a href="javascript: void(0);" *ngIf="checkAkses('edit_kebutuhan')" (click)="edit(val)"
                                               class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                <i class="fa fa-edit font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="val.is_deleted == 0 && checkAkses('delete_kebutuhan')">
                                            <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                               placement="left" ngbTooltip="Hapus">
                                                <i class="fa fa-trash font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item" *ngIf="val.is_deleted == 1 && checkAkses('delete_kebutuhan')">
                                            <a href="javascript: void(0);" (click)="restore(val)" class="mb-danger"
                                                placement="left" ngbTooltip="Restore">
                                                <i class="fa fa-recycle font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px;">
                                            <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                Sign <span style="font-size: 13px;color: red">*</span>
                                                is required </span>
                                            <br>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label col-form-label-sm required">Nama</label>
                                                <div class="col-md-9">
                                                    <input class="form-control form-control-sm" type="text"
                                                           name="nama"
                                                           [(ngModel)]="model.nama" placeholder="Nama"/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label col-form-label-sm required">Tanggal</label>
                                                <div class="col-md-9">
                                                    <div class="input-group input-group-sm clockpicker">
                                                        <input ngbDatepicker
                                                               class="form-control form-control-sm"
                                                               [(ngModel)]="model.tanggal"
                                                               name="tanggal" placeholder="dd/mm/yyyy"
                                                               #tanggal="ngbDatepicker"
                                                               [minDate]="{year: 1950, month: 1, day: 1}"
                                                               (click)="tanggal.toggle();"/>
                                                        <div class="input-group-append">
                                                                    <span class="input-group-text">
                                                                        <i class="fa fa-calendar"></i>
                                                                    </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-3 col-form-label col-form-label-sm">Keterangan</label>
                                                <div class="col-md-9">
                                                    <input class="form-control form-control-sm" type="text" name="keterangan" [(ngModel)]="model.keterangan" placeholder="Keterangan"/>
                                                </div>
                                            </div>
                                        </div>
                                        <hr/>
                                        <div class="col-md-12 mt-3">
                                            <div class="table-responsive" style="overflow-x :unset;">
                                                <table class="table table-sm mobile-optimised table-detail table-bordered mb-0">
                                                    <thead>
                                                    <tr class="bg-primary text-white">
                                                        <th style="width: 2% !important;">
                                                            <button type="button" class="btn btn-sm btn-light"
                                                                    (click)="addDetail(listDetail)">
                                                                <i class="fas fa-plus"></i>
                                                            </button>
                                                        </th>
                                                        <th class="align-middle text-center">Barang</th>
                                                        <th class="align-middle text-center" width="10%">Jumlah</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let val of listDetail; index as i">
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-danger"
                                                                    (click)="removeDetail(listDetail, i)">
                                                                <i class="fas fa-minus"></i>
                                                            </button>
                                                        </td>
                                                        <td class="text-left">
                                                            <ng-select [disabled]="isView" [items]="listBarang"
                                                                       bindLabel="nama" placeholder="Pilih Barang"
                                                                       bindValue="id" [(ngModel)]="val.m_barang_id"
                                                                       name="m_barang_id{{i}}"></ng-select>
                                                        </td>
                                                        <td>
                                                            <div class="input-group input-group-sm">
                                                                <input class="form-control form-control-sm text-center"
                                                                       type="text"
                                                                       [(ngModel)]="val.jumlah"
                                                                       [disabled]="isView"
                                                                       name="jumlah_detail{{i}}"/>
                                                                <div class="input-group-append">
                                                                        <span class="input-group-text">
                                                                            pcs
                                                                        </span>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView && checkAkses('save_kebutuhan')" (click)="save(model)">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
