.bg-soft-primary{
	background-color: #3b21a1 !important;
}
.text-primary{
	color: #fff !important;
}
.profile-user-wid{
	margin-top: -26px;
}
.avatar-md {
    height: 4.5rem;
    width: 4.5rem;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.btn-primary{
	border-color: #3b21a1 !important;
	background-color: #3b21a1 !important;
}