
.table-detail.table-bordered {
  border: 1px solid #dbddde!important;
}

.table-detail.table-bordered th,
.table-detail.table-bordered td {
  border: 1px solid #dbddde!important;
}

.table-detail .table-bordered thead th,
.table-detail .table-bordered thead td {
  border-bottom-width: 2px;
}

.table-detail .table td, .table th {
  border-top: 1px solid #c8ced3;
  padding: 5px;
  cursor: pointer;
}