<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control form-control-sm" name="periode" daterangepicker
                                       [(ngModel)]="model.periode"
                                       [options]="options" (selected)="selectedDate($event, daterange)"
                                       placeholder="Periode" autocomplete="off"/>
                                <div class="input-group-append">
                                    <span class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <ng-select class="custom" [items]="listGetTherapis" bindLabel="nama" bindValue="id"
                                       [(ngModel)]="model.user_id" name="user_id" placeholder="Cari Karyawan"
                                       (ngModelChange)="reset_tampilan()">
                            </ng-select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-sm btn-primary" (click)="tampilkan(0)">
                                <i class="fa fa-eye font-size-14 align-middle mr-1"></i> Tampilkan
                            </button>

                            <button type="button" class="btn btn-sm btn-success ml-1"
                                    [disabled]="listData.length == 0"
                                    (click)="tampilkan(1)">
                                <i class="fa fa-file-excel font-size-14 align-middle mr-1"></i> Export
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-hover mb-0 mobile-optimised" width="100%">
                            <thead class="bg-primary text-white">
                            <tr>
                                <th class="text-left" style="vertical-align: middle">Nama</th>
                                <th class="text-center" style="vertical-align: middle">Keterangan</th>
                                <th class="text-center" style="vertical-align: middle">Tanggal</th>
                                <th class="text-center" style="vertical-align: middle">Nominal</th>
                            </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let val of listData; index as key">
                                    <tr>
                                        <td style="background-color: #f8f9fa;" data-th="Total" class="text-left" colspan="3">
                                            <b>{{val.nama_karyawan}}</b> 
                                        </td>
                                        <td style="background-color: #f8f9fa;" data-th="Total" class="text-right"><b>{{val.total_nominal | number}}</b></td>
                                    </tr>
                                    <ng-container *ngFor="let vals of val.detail; index as i">
                                        <tr>
                                            <td class="text-left-middle">{{ vals.nama }}</td>
                                            <td class="text-left-middle">{{ vals.keterangan }}</td>
                                            <td class="text-center-middle">{{ vals.tanggal | date : "dd/MM/yyyy"}}</td>
                                            <td class="text-right-middle">{{ vals.nominal | number}}</td>
                                        </tr>
                                    </ng-container>
                                </ng-container>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th class="text-center-middle" [attr.colspan]="3">Total</th>
                                <th class="text-right-middle">{{totalData.total_nominal | number}}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>