<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 m-mb-15">
                            <ng-select [(items)]="listBulan" bindLabel="nama" bindValue="id" [(ngModel)]="model.bulan" name="bulan" placeholder="Cari berdasarkan Bulan" appendTo="body" (change)="reset_tampilan();"></ng-select>
                        </div>
                        <div class="col-lg-1 m-mb-15">
                            <ng-select [(items)]="listTahun" [(ngModel)]="model.tahun" name="tahun" placeholder="Cari berdasarkan Tahun" appendTo="body" (change)="reset_tampilan();"></ng-select>
                        </div>
                        <div class="col-lg-2 m-mb-15">
                            <ng-select [items]="listAnggota" bindLabel="nama" bindValue="id" [(ngModel)]="model.m_user_id" name="m_user_id" (change)="getDataAnggota(); reset_tampilan();" placeholder="Semua Anggota " appendTo="body">
                                <ng-template ng-option-tmp let-item="item">
                                    {{item.nama}}
                                </ng-template>
                            </ng-select>
                        </div>
                        <div class="btn-con flexib col-lg-1">
                            <button type="submit" class="btn btn-sm btn-primary" (click)="tampilkan(0)" *ngIf="!is_tampilkan" style="min-width: 80px;">Tampilkan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="is_tampilkan">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-0" style="box-shadow: .6px .1rem .5rem hsla(0,0%,59.2%,.36)!important;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="btn-con justify-content-end mr-4 flex-wrap">
                                <button type="button" class="btn btn-transparant btn-sm mr-2" (click)="tampilkan(1)">
                                    <i class="far fa-file-excel font-size-14 align-middle mr-2"></i>
                                    Export Excel
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row pb-3">
                        <table class="col-md-12 pb-3">
                            <thead style="background: #fff; color: black;">
                                <tr>
                                    <th style="width: 25%; text-align: center;background-color: #fff;">
                                        <img src="assets/images/logoutama.png" style="max-width: 100px;">
                                    </th>
                                    <th colspan="5" style="width: 50%; background-color: #fff;">
                                        <div style="vertical-align: middle; text-align: center;">
                                            <h4 style="margin-bottom: 0px;">Santa Monica 17th</h4>
                                            <h4>Laporan Progress Setoran </h4>
                                            <h5 *ngIf="periode != null">Periode {{ periode }}</h5>
                                        </div>
                                    </th>
                                    <th style="width: 25%;background-color: #fff;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-6" style="margin-bottom: 15px;">
                        <div class="row">
                            <div class="col-md-2">
                                <span class="badge badge-warning">&nbsp;&nbsp;&nbsp; </span> : Pending
                            </div>
                            <div class="col-md-2">
                                <span class="badge badge-success">&nbsp;&nbsp;&nbsp;</span> : Sudah Setor
                            </div>
                            <div class="col-md-2"> 
                                <span class="badge bg-danger">&nbsp;&nbsp;&nbsp;</span> : Belum Setor
                            </div>
                        </div>
                    </div>
                    <div class="empty-value row" *ngIf="listData.length < 1" style="text-align: center;padding-top: 0;">
                        <img src="assets/images/emptynote.png" alt="" class="logo-img" height="150" style="margin: 0px auto;" />
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6 offset-md-3" style="text-align: center;">
                                    <h6 style=" color: #a0a2a8">Belum ada data Kebutuhan</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="listData.length > 0">
                    <div class="col-md-12">
                        <div class="div-b-table">
                            <table class="custom-table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th rowspan="2" class="border-right align-middle" style="z-index: 99; background-color: #E7E8FF; color: #495057;">
                                            <div style="padding: 5px 20px 5px 0px;width:380px">
                                                <div style="width: 70%;float: left;text-align:left">Anggota</div>
                                            </div>
                                        </th>
                                        <th class="border-right custom-width align-center" [attr.colspan]="listJudul.length" style="background-color: #E7E8FF; color: #495057;">
                                            <div style="padding: 5px 20px 5px 0px; text-align: center;">
                                                Kebutuhan Setoran
                                            </div>
                                        </th>
                                    </tr>
                                    <tr class="second">
                                        <th class="border-right text-center" *ngFor="let val of listJudul" style="z-index: 1; top: 39px !important; background-color: #E7E8FF; color: #495057;">
                                            {{ val.label }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-vertical-thin" *ngFor="let vals of listData">
                                        <th class="border-right">
                                            <div style="padding: 5px 20px 5px 0px;">
                                                <div style="float: left; text-align:left">
                                                    <span style="font-weight: bold;">
                                                        {{ vals.nama}}
                                                    </span><br>
                                                    <span class="text-jabatan" style="font-weight: normal;">
                                                        <small>{{ vals.steam }}</small> 
                                                    </span>
                                                </div>
                                            </div>
                                        </th>
                                        <td class="border-right custom-width" *ngFor="let value of vals.detail" [ngClass]="{'bg-danger': (value.status_setor == 3) ,'bg-success':  value.status_setor == 1, 'bg-warning':  value.status_setor == 0}" style="text-align: center;vertical-align: middle;color: #fff;">
                                            <span *ngIf="value.status_setor !== 3" style="font-size: 10px;">PJ ({{value.nama_pj}})</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>