<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                            [(ngModel)]="modelParam.nama" name="paramnama" type="text"
                                            placeholder="Cari Nama">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm">
                                        <input type="text" class="form-control form-control-sm" name="paramperiode"
                                               daterangepicker
                                               [(ngModel)]="modelParam.periode" [options]="options"
                                               (selected)="selectedDate($event, daterange)"
                                               placeholder="Periode"/>
                                        <div class="input-group-append">
                                            <button class="input-group-text btn btn-danger" title="reset date"
                                                    (click)="resetTgl()">
                                                <i class="fa fa-times"></i>
                                            </button>
        
                                            <button class="input-group-text btn btn-success" title="Search"
                                                    (click)="reloadDataTable()">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <select (change)="reloadDataTable()" class="form-control form-control-sm"
                                        [(ngModel)]="modelParam.status" name="status">
                                        <option value=0>Active</option>
                                        <option value=1>Inactive</option>
                                    </select>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" (click)="create()">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                    Tambah Data
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                            data-page-length='20'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Nama</th>
                                    <th>Tanggal</th>
                                    <th>Nominal</th>
                                    <th>Karyawan</th>
                                    <th>Dibuat Oleh</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                    <td data-th="nama">{{ val.nama }}</td>
                                    <td data-th="alamat">{{ val.tanggal_pengambilan}}</td>
                                    <td data-th="alamat">Rp {{ val.nominal | number}}</td>
                                    <td data-th="alamat">{{ val.nama_karyawan}}</td>
                                    <td data-th="dibuatOleh">
                                        {{val.nm_pembuat}} <br />
                                        <small>at {{val.created_at * 1000 | date:'d MMM y HH:mm'}}</small>
                                    </td>
                                    <td class="row-action">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item" *ngIf="val.is_deleted == 0">
                                                <a href="javascript: void(0);" (click)="edit(val)"
                                                    class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                    <i class="fa fa-edit font-size-14 align-middle"></i>
                                                </a>
                                            </li>

                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 0">
                                                <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Hapus">
                                                    <i class="fa fa-trash font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 1">
                                                <a href="javascript: void(0);" (click)="restore(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Restore">
                                                    <i class="fa fa-recycle font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px;">
                                            <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                Sign <span style="font-size: 13px;color: red">*</span>
                                                is required </span>
                                            <br>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm required">Tanggal</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm clockpicker">
                                                        <input ngbDatepicker
                                                               class="form-control form-control-sm"
                                                               [(ngModel)]="model.tanggal"
                                                               name="tanggal" placeholder="dd/mm/yyyy"
                                                               #tanggal="ngbDatepicker"
                                                               [minDate]="{year: 1950, month: 1, day: 1}"
                                                               (click)="tanggal.toggle();"/>
                                                        <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-calendar"></i>
                                                        </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label
                                                    class="col-md-4 col-form-label col-form-label-sm required">Nama</label>
                                                <div class="col-md-6">
                                                    <input class="form-control form-control-sm" type="text" name="nama"
                                                        [(ngModel)]="model.nama" name="nama" placeholder="Nama Kebutuhan" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm required">Karyawan</label>
                                                <div class="col-md-6">
                                                    <ng-select [disabled]="isView" [items]="listKaryawan" bindLabel="nama"
                                                        bindValue="id" [(ngModel)]="model.user_id" name="user_id"></ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm required">Nominal</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                Rp
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.nominal" name="nominal" placeholder="Nominal" mask="separator" style="text-align: right;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm required">Keterangan</label>
                                                <div class="col-md-8">
                                                    <textarea class="form-control form-control-sm" [(ngModel)]="model.keterangan" name="keterangan" rows="4" placeholder="Keterangan"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>