<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box d-none d-lg-block d-lg-block">
                <a href="/" class="logo logo-dark">
                    <span class="logo-sm">

                    </span>
                    <span class="logo-lg">
                        <img alt="250x250" src="assets/images/logoutama.png" data-holder-rendered="true"
                            class="text-center" class="logo-img" height="60">
                    </span>
                </a>
            </div>
            <button type="button" class="btn btn-sm px-3 font-size-16 d-lg-none header-item" (click)="toggleMenubar()">
                <i class="fa fa-fw fa-bars font-size-16"></i>
            </button>
            <div style="padding-top: 25px">
                <ul style="list-style-type: none; border-left: 1px solid #ddd; padding-left: 20px;">
                    <li *ngFor="let breadcrumb of breadcrumbs">
                        <h5 style="padding: 10px;">{{ breadcrumb.label }}</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="d-flex">
            <div class="d-inline-block d-none d-lg-block d-lg-block" style="padding-top: 17px;">
            </div>
            <div class="top-nav dropdown d-inline-block" ngbDropdown
                *ngIf="checkAkses('list_user') || checkAkses('list_roles')">
                <button type="button" class="btn header-item noti-icon right-bar-toggle"
                    id="page-header-notifications-dropdown" ngbDropdownToggle>
                    <i class="fa fa-cog"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right p-0" ngbDropdownMenu
                    aria-labelledby="page-header-notifications-dropdown">
                    <div class="" ngbDropdown>
                        <div class="dropdown">
                            <div *ngIf="checkAkses('list_user')" class="dropdown-item"
                                [routerLink]="['/master/master-user']" style="cursor: pointer;">
                                <a style="color: #495057;" href="#" [routerLink]="['/master/master-user']"
                                    class="text-black">
                                    User
                                </a>
                            </div>
                            <div *ngIf="checkAkses('list_roles')" class="dropdown-item"
                                [routerLink]="['/master/master-akses']" style="cursor: pointer;">
                                <a style="color: #495057;" href="#" [routerLink]="['/master/master-akses']"
                                    class="text-black">
                                    Roles
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown d-inline-block" ngbDropdown>
                <button type="button" class="btn header-item" id="page-header-user-dropdown" ngbDropdownToggle>
                    <ng-template #tipUser>
                        <div style="min-width: 100px; max-width: 200px; text-align: left;">
                            <b>{{user.nama}}</b><br />
                            {{user.jabatanTxt}}
                        </div>
                    </ng-template>
                    <img class="rounded-circle header-profile-user" src="assets/images/users/user-default.png"
                        placement="bottom" [ngbTooltip]="tipUser" tooltipClass="tooltipUser" />
                    <span class="d-none d-xl-inline-block ml-1">{{user.nama}} &nbsp;
                        <i class="fas fa-angle-down"></i>
                    </span>
                    <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
                    <div class="dropdown-divider d-lg-none"></div>
                    <a class="dropdown-item d-block" href="javascript: void(0);"
                        (click)="gantiPassword(modalGPassword)">
                        <i class="fas fa-key font-size-12 align-middle mr-1"></i>
                        Change Password
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item text-danger" href="javascript: void(0);" (click)="logout()">
                        <i class=" fas fa-power-off font-size-12 align-middle mr-1 text-danger"></i>
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu active">
            <div class="collapse navbar-collapse active" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link arrow-none" (click)="onMenuClick($event)" [routerLink]="['/home']"
                            id="topnav-components" role="button">
                            <i class="fa fa-home mr-2"></i>
                            Dashboard
                        </a>
                    </li>

                    <div *ngIf="checkAkses('list_barang') ||
                       checkAkses('list_anggota')" ngbDropdown>
                        <li id="steps-master" class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none side-nav-link-ref" href="#" id="topnav-master"
                                role="button" (click)="onMenuClick($event);">
                                <i class="fas fa-list mr-2"></i> Master
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown" *ngIf="checkAkses('list_barang')">
                                    <a class="dropdown-item dropdown-toggle arrow-none side-nav-link-ref"
                                        [routerLink]="['/master/master-barang']" href="#" id="topnav-mbarang"
                                        role="button"
                                        (click)="onMenuClick($event); reloadCurrentRoute('/master/master-barang');">
                                        Barang
                                    </a>
                                </div>
                                <div class="dropdown" *ngIf="checkAkses('list_anggota')">
                                    <a class="dropdown-item dropdown-toggle arrow-none side-nav-link-ref"
                                        [routerLink]="['/master/master-anggota']" href="#" id="topnav-mcustomer"
                                        role="button"
                                        (click)="onMenuClick($event); reloadCurrentRoute('/master/master-anggota');">
                                        Anggota
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>

                    <div *ngIf="checkAkses('list_kebutuhan') ||
                       checkAkses('list_setoran')" ngbDropdown>
                        <li id="steps-transaksi" class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none side-nav-link-ref" href="#"
                                id="topnav-transaksi" role="button" (click)="onMenuClick($event);">
                                <i class="far fa-money-bill-alt mr-2"></i> Transaksi
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown" *ngIf="checkAkses('list_kebutuhan')">
                                    <a class="dropdown-item dropdown-toggle arrow-none side-nav-link-ref"
                                        [routerLink]="['/transaksi/kebutuhan-setoran']" href="#" id="topnav-tkebutuhan"
                                        role="button"
                                        (click)="onMenuClick($event); reloadCurrentRoute('/transaksi/kebutuhan-setoran');">
                                        Kebutuhan Setoran
                                    </a>
                                </div>
                                <div class="dropdown" *ngIf="checkAkses('list_setoran')">
                                    <a class="dropdown-item dropdown-toggle arrow-none side-nav-link-ref"
                                        [routerLink]="['/transaksi/setoran-anggota']" href="#" id="topnav-tsetoran"
                                        role="button"
                                        (click)="onMenuClick($event); reloadCurrentRoute('/transaksi/setoran-anggota');">
                                        Setoran
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>

                    <div *ngIf="checkAkses('list_progress_setoran')" ngbDropdown>
                        <li id="steps-laporan" class="nav-item dropdown" ngbDropdownToggle>
                            <a class="nav-link dropdown-toggle arrow-none side-nav-link-ref" href="#"
                                id="topnav-laporan" role="button" (click)="onMenuClick($event);">
                                <i class="fas fa-calendar mr-2"></i> Laporan
                                <div class="arrow-down"></div>
                            </a>
                            <div class="dropdown-menu" ngbDropdownMenu>
                                <div class="dropdown" *ngIf="checkAkses('list_progress_setoran')">
                                    <a class="dropdown-item dropdown-toggle arrow-none side-nav-link-ref"
                                        [routerLink]="['/laporan/laporan-progress']" href="#" id="topnav-lprogresssetor"
                                        role="button"
                                        (click)="onMenuClick($event); reloadCurrentRoute('/laporan/laporan-progress');">
                                        Progress Setoran
                                    </a>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</div>

<ng-template #modalGPassword let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">Change Password</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-4 col-form-label col-form-label-sm required">Password</label>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm" type="password" [(ngModel)]="model.password"
                            name="password" placeholder="Input New Password" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-4 col-form-label col-form-label-sm required">Confirm Password</label>
                    <div class="col-md-8">
                        <input class="form-control form-control-sm" type="password" [(ngModel)]="model.repassword"
                            name="repassword" placeholder="Confirm New Password" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="float-right">
            <button class="btn btn-primary btn-sm" (click)="savepasswords(); modal.dismiss('Cross click')"
                [disabled]="model.password != model.repassword">
                <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                Save
            </button>
        </div>
    </div>
</ng-template>