.custom-file .custom-file-label{
    background: #4b51a1;
      color: #fff;
      font-weight: 600;
      height: 100%;
      padding: 7px;
      text-align: center;
    }
    .custom-file-label::after {
        display: none !important;
      }