<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">{{ pageTitle }}</h4>
                <div class="page-title-right d-lg-block">
                    <button type="button" class="btn btn-primary btn-sm" (click)="create()" *ngIf="checkAkses('create_roles')">
                        <i class="fa fa-plus font-size-14 align-middle"></i>
                        Tambah Data
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                       [(ngModel)]="modelParam.nama" name="paramnama" type="text"
                                       placeholder="Cari berdasarkan Nama">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                               data-page-length='20'>
                            <thead class="thead-light">
                            <tr>
                                <th>Nama</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                <td data-th="Nama">{{ val.nama }}</td>
                                <td class="row-action">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item" *ngIf="checkAkses('edit_roles')">
                                            <a href="javascript: void(0);" (click)="edit(val)"
                                               class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                <i class="fa fa-edit font-size-14 align-middle"></i>
                                            </a>
                                        </li>
                                        <!-- <li class="list-inline-item">
                                            <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger" placement="left" ngbTooltip="Hapus">
                                                <i class="fa fa-trash font-size-14 align-middle"></i>
                                            </a>
                                        </li> -->
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-footer"
                     style="border-bottom: 1px solid #f6f6f6; border-top: unset; border-top-left-radius: 0.25rem; border-top-right-radius: 0.25rem;">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView && checkAkses('save_roles')" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 10px;">
                                    <span style="font-style: italic;font-size: 11px; font-weight: bold;"> Tanda <span
                                            style="font-size: 13px;color: red">*</span> harus diisi </span>
                                    <br>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-md-4 col-form-label col-form-label-sm required">Name</label>
                                        <div class="col-md-8">
                                            <input class="form-control form-control-sm" type="text" name="nama"
                                                   [(ngModel)]="model.nama" name="nama" placeholder="Nama"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-4" style="padding: 0px !important;">
                                <h5 class="font-weight-bold">Setting</h5>
                                <hr>
                            </div>

                            <div class="row">

                                <div class="col-md-4"
                                     style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">User</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.user"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.user,['list_user', 'create_user', 'edit_user', 'save_user', 'delete_user'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_user"
                                                           name="list_user"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_user"
                                                           name="create_user"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_user"
                                                           name="edit_user"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_user"
                                                           name="save_user"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_user"
                                                           name="delete_user"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4"
                                     style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Roles</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.roles"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.roles,['list_roles', 'create_roles', 'edit_roles', 'save_roles', 'delete_roles'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_roles"
                                                           name="list_roles"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_roles"
                                                           name="create_roles"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_roles"
                                                           name="edit_roles"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_roles"
                                                           name="save_roles"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_roles"
                                                           name="delete_roles"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-12 mt-4" style="padding: 0px !important;">
                                <h5 class="font-weight-bold">Master Data</h5>
                                <hr>
                            </div>

                            <div class="row">

                                <div class="col-md-4"
                                     style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Barang</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.barang"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.barang,['list_barang', 'create_barang', 'edit_barang', 'save_barang', 'delete_barang'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_barang"
                                                           name="list_barang"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_barang"
                                                           name="create_barang"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_barang"
                                                           name="edit_barang"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_barang"
                                                           name="save_barang"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_barang"
                                                           name="delete_barang"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4"
                                     style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Anggota</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.anggota"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.anggota,['list_anggota', 'create_anggota', 'edit_anggota', 'save_anggota', 'delete_anggota'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_anggota"
                                                           name="list_anggota"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_anggota"
                                                           name="create_anggota"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_anggota"
                                                           name="edit_anggota"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_anggota"
                                                           name="save_anggota"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_anggota"
                                                           name="delete_anggota"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mt-4" style="padding: 0px !important;">
                                <h5 class="font-weight-bold">Transaksi</h5>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-4" style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Kebutuhan Setoran</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.kebutuhan"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.kebutuhan,['list_kebutuhan', 'create_kebutuhan', 'edit_kebutuhan', 'save_kebutuhan', 'delete_kebutuhan'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_kebutuhan"
                                                           name="list_kebutuhan"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_kebutuhan"
                                                           name="create_kebutuhan"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_kebutuhan"
                                                           name="edit_kebutuhan"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_kebutuhan"
                                                           name="save_kebutuhan"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_kebutuhan"
                                                           name="delete_kebutuhan"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Setoran</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.setoran"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.setoran,['list_setoran', 'create_setoran', 'edit_setoran', 'approve_setoran', 'save_setoran', 'delete_setoran'])">
                                        </div>

                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_setoran"
                                                           name="list_setoran"/>
                                                    <i></i>
                                                    View
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.create_setoran"
                                                           name="create_setoran"/>
                                                    <i></i>
                                                    Create
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.edit_setoran"
                                                           name="edit_setoran"/>
                                                    <i></i>
                                                    Edit
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.approve_setoran"
                                                           name="approve_setoran"/>
                                                    <i></i>
                                                    Approve
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.save_setoran"
                                                           name="save_setoran"/>
                                                    <i></i>
                                                    Save
                                                </label>
                                                <label class="i-checks col-4 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.delete_setoran"
                                                           name="delete_setoran"/>
                                                    <i></i>
                                                    Delete
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 mt-4" style="padding: 0px !important;">
                                <h5 class="font-weight-bold">Laporan</h5>
                                <hr>
                            </div>

                            <div class="row">
                                <div class="col-md-4"
                                     style="padding-bottom: 12px !important; padding-top: 12px !important;">
                                    <div class="panel panels panel-primary bg-primary rounded">
                                        <div class="panel-heading text-center">
                                            <label class="i-checks text-white vertical p-1"
                                                   style="margin-bottom: 0.4rem !important;">Progress Setoran</label>
                                            <input type="checkbox" [(ngModel)]="modelCheck.progress_setoran"
                                                   name="model_check_master"
                                                   class="custom-control-input-nanti-saja check-all"
                                                   (change)="checkAllKolom(modelCheck.progress_setoran,['list_progress_setoran'])">
                                        </div>
                                        <div class="list-group bg-white">
                                            <div class="list-group-item">
                                                <label class="i-checks col-12 vertical">
                                                    <input type="checkbox" [(ngModel)]="model.akses.list_progress_setoran"
                                                           name="list_progress_setoran"/>
                                                    <i></i>
                                                    View
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
