{% extends "format/layout/default.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
    <p style="color: #cc5bd0; font-size:50px; font-weight:bold;letter-spacing: 6px; text-align:center">{{otp}}</p>
   <p>This OTP is valid for 60 seconds. If you require any assistance, pleace contact our Customer Service at <b>santamonica.asia@gmail.com</b></p>
{% endblock %}