<div style="font-family: roboto,sans-serif;">
    <div style="font-weight: 600;">
        Halo Sobat YoAyo Active Community
    </div>
    <br>
    Undang teman yang belum pernah menggunakan aplikasi YoAyo Active Community untuk mengikuti Event Old School Virtual Run. 
    <br><br>
    Anda akan mendapatkan voucher (Kode Voucher) hingga Rp. 100.000,-
    <br>
    Untuk info lebih lanjut, silahkan baca poin-poin di bawah ini:
    <ul>
        <li>Undang teman cukup dengan membagikan kode Referral Anda</li>
        <li>Undang teman sebanyak yang Anda suka dan pastikan 10 dari mereka mengikuti Event saat ini sehingga Anda semua dapat memenangkan hadiah!</li>
        <li>Voucher Anda akan berlaku otomatis setelah 10 teman Anda mengikuti event saat ini</li>
        <li>Anda memiliki 14 hari untuk menyelesaikan misi</li>
    </ul>
    <!-- <span style="margin-left: 12px;">• </span>
    <br>
    <span style="margin-left: 12px;">• </span>
    <br>
    <span style="margin-left: 12px;">• </span>
    <br>
    <span style="margin-left: 12px;">• </span> -->
    Salam Sehat,
    <br>
    YoAyo Active Community
</div>