{% extends "format/layout/default.html" %}
{% block title %}
{{title}}
{% endblock %}
{% block content %}
    <p>Hello, {{invoice.nama}}</p>
    <p>{{msg}}</p>
    <h3>Transaction Details</h3>
    <table style="width:100%; padding: 0px 20px 0px 20px;">
        <tr style="border: none;">
            <td>No Order</td>
            <td style="text-align:right;"><b>{{invoice.no_order}}</b></td>
        </tr>
        <tr style="border: none;">
            <td>No Invoice</td>
            <td style="text-align:right;">{{invoice.no_invoice}}</td>
        </tr>
        <tr style="border: none;">
            <td>Name</td>
            <td style="text-align:right;">{{invoice.nama}}</td>
        </tr>
        <tr style="border: none;">
            <td>Address</td>
            <td style="text-align:right;">{{invoice.alamat}}</td>
        </tr>
    </table>

    <hr>

    <h3>Event Details</h3>
    <table style="width:100%; padding: 0px 20px 0px 20px;">
        <tr style="border: none;">
            <td>Event</td>
            <td style="text-align:right;">{{invoice.nama_event}}</td>
        </tr>
        <tr style="border: none;">
            <td>Start Race</td>
            <td style="text-align:right;">{{invoice.tgl_race_mulai}}</td>
        </tr>
        <tr style="border: none;">
            <td>End Race</td>
            <td style="text-align:right;">{{invoice.tgl_race_selesai}}</td>
        </tr>
        <tr style="border: none;">
            <td>Location</td>
            <td style="text-align:right;">{{invoice.lokasi}}</td>
        </tr>
        <tr style="border: none;">
            <td>Total</td>
            <td style="text-align:right;"><b>Rp {{invoice.grant_total}}</b></td>
        </tr>
    </table>

    <hr>

    <h3>Payment Details</h3>
    <table style="width:100%; padding: 0px 20px 0px 20px;">
        <tr style="border: none;">
            <td>Shipping Address</td>
            <td style="text-align:right;">{{invoice.shipping_address}}</td>
        </tr>
        <tr style="border: none;">
            <td>Shipping Fee</td>
            <td style="text-align:right;">Rp {{invoice.shipping_fee}}</td>
        </tr>
        <tr style="border: none;">
            <td>Event Price</td>
            <td style="text-align:right;">Rp {{invoice.harga_event}}</td>
        </tr>
        <tr style="border: none;">
            <td>Add On Price</td>
            <td style="text-align:right;">Rp {{invoice.addon_fee}}</td>
        </tr>
    </table>

    <hr>

    <p>Thankyou for joining the event at Santa Monica 17th!</p>
{% endblock %}