<!--<div style="height: 100%; text-align: center">-->
<!--</div>-->
<div style="height: 100%; text-align: center">
    <div>
        <span style="font-size: 50px;">{{model.title}}</span><br>
        <span style="font-size: 30px;">{{model.location}}</span><br>
        <span style="font-size: 20px;">{{model.nama_kabupaten}}</span>
    </div>
    <div style="margin-top: 30px;">
        <img src="{{data}}" style="width: 500px; vertical-align: center">
    </div>
</div>