<div class="container-fluid">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">     
                    <div class="row">
                        <div class="col-md-12" style="padding-bottom: 10px;">
                            <span style="font-style: italic;font-size: 11px; font-weight: bold;"> 
                                Sign <span style="font-size: 13px;color: red">*</span> is required 
                            </span>
                            <br>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group row">
                                <div class="col-md-12 bg-primary text-left rounded p-2 mb-3">
                                    <h5 class="text-white m-0">Setting Aplikasi</h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm required">Nama Aplikasi</label>
                                    <div class="col-md-6">
                                        <input class="form-control form-control-sm" type="text" name="nama_aplikasi" [(ngModel)]="model.nama_aplikasi" placeholder="Nama Aplikasi"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm required">No. Hp</label>
                                    <div class="col-md-6">
                                        <input class="form-control form-control-sm" type="tel" name="no_hp" [(ngModel)]="model.no_hp" placeholder="Phone Number"/>
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm required">Besar Logo (pixels)</label>
                                    <div class="col-md-6">
                                        <input class="form-control form-control-sm" type="number" name="bulatan" [(ngModel)]="model.bulatan" placeholder="Besar Logo"/>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-md-4 col-form-label col-form-label-sm required">Switch API</label>
                                    <div class="col-md-8">
                                        <div class="btn-group-toggle m-mb-15" ngbRadioGroup name="radioBasic"
                                            [(ngModel)]="model.is_live" name="is_live">
                                            <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_live == 0 ? 'btn-primary' : 'btn-outline-primary'" placement="top" ngbTooltip="Test Server">
                                                <i class="fas fa-check" *ngIf="model.is_live == 0"></i>
                                                <input ngbButton type="radio" value="0"> Test Server
                                            </label>
                                            <label ngbButtonLabel class="btn-sm" [ngClass]="model.is_live == 1 ? 'btn-primary' : 'btn-outline-primary'" placement="top" ngbTooltip="Live Server">
                                                <i class="fas fa-check" *ngIf="model.is_live == 1"></i>
                                                <input ngbButton type="radio" value="1"> Live Server
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-2 col-form-label col-form-label-sm required">Logo</label>
                                    <div class="col-md-3">
                                        <div class="boxsimg">
                                            <img alt="250x250" *ngIf="model.logo_login.base64" [src]="model.logo_login.base64" data-holder-rendered="true" class="text-center">
                                            <img alt="250x250" *ngIf="!model.logo_login.base64" [src]="model.logo_login" data-holder-rendered="true" class="text-center">
                                        </div>
                                        <div class="custom-file align-center">
                                            <input type="file" id="customFile" name="logo" class="custom-file-input" (change)="onFileChange($event)"/>
                                            <br><br>
                                            <label for="customFile" class="custom-file-label">Logo Login</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="boxsimg">
                                            <img alt="250x250" *ngIf="model.logo_menu.base64" [src]="model.logo_menu.base64" data-holder-rendered="true" class="text-center">
                                            <img alt="250x250" *ngIf="!model.logo_menu.base64" [src]="model.logo_menu" data-holder-rendered="true" class="text-center">
                                        </div>
                                        <div class="custom-file align-center">
                                            <input type="file" id="customFile" name="logo" class="custom-file-input"(change)="onFileChange1($event)"/>
                                            <br><br>
                                            <label for="customFile" class="custom-file-label">Logo Halaman Menu</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="boxsimg">
                                            <img alt="250x250" *ngIf="model.logo_laporan.base64" [src]="model.logo_laporan.base64" data-holder-rendered="true" class="text-center">
                                            <img alt="250x250" *ngIf="!model.logo_laporan.base64" [src]="model.logo_laporan" data-holder-rendered="true" class="text-center">
                                        </div>
                                        <div class="custom-file align-center">
                                            <input type="file" id="customFile" name="logo" class="custom-file-input" (change)="onFileChange2($event)"/>
                                            <br><br>
                                            <label for="customFile" class="custom-file-label">Logo Print Laporan</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>