.margin-top {

  margin-top: 40px;
  margin-bottom: 40px;
}

.custom-file-label::after {
  display: none !important;
}

.custom-file .custom-file-input {
  cursor: pointer;
}

.custom-file .custom-file-label {
  background: #248fa5;
  color: #fff;
  font-weight: 600;
  height: 100%;
  padding: 7px;
}

.boxsimg {
  overflow: hidden;
  background-color: ghostwhite;
  align-items: center;
  width: 100%;
  height: 200px;
  text-align: center;
  vertical-align: middle;
}

.boxsimg img {
  max-width: 100%;
  min-height: 100%;
  display: block;
  /* remove extra space below image */
  margin: auto;
  vertical-align: middle;
  align-items: center;
}