<!--<footer class="footer">-->
<!--    <div class="container-fluid">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-6">-->
<!--                {{year}} © Santa Monica 17th.id-->
<!--            </div>-->
<!--            <div class="col-sm-6">-->
<!--                <div class="text-sm-right d-none d-sm-block">-->
<!--                    &lt;!&ndash; Your Shrimps Apps Management &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->