<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta charset="utf-8" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta content="ie=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="telephone=no" name="format-detection" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <style>
        @page {
            margin: 30px;
        }
        
        body {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 50%;
        }

        td, th {
            border-width : 1px 1px;
            border: 0.5 solid #e4e3e3;
            text-align: left;
            padding: 2px;
        }
        td {
            padding: 3px;
        }
        tr:nth-child(even) {
        }
        
    </style>
</head>

<body leftmargin="0" marginheight="0" marginwidth="0" offset="0" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; background-color: #fff !important; color: #1e1e1e; font-family: 'Helvetica', Arial, sans-serif !important; margin: 0; padding: 0; text-align: left !important;"
    topmargin="0">
    <div class="main" style="-webkit-font-smoothing: antialiased; background-color: #fff !important; color: #1e1e1e; font-family: 'Helvetica', arial, sans-serif; text-align: left !important;">
        <div style="height: 5px;background-color: #414143;margin-bottom: 15px;">&nbsp;</div>
        <div style="position: relative;padding-top: 10px;padding-bottom: 80px !important;height: 0px;">
            <div style="width: 40%;padding: 5px 0px;float: left;">
                <!-- <img class="img-responsive" alt="logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/800px-User-avatar.svg.png" style="width: 80px; border-radius: 43px;"> -->
                <h5 style="font-size: 13px;font-weight: bold;margin: 0 0 7px 0;">Santa Monica 17th</h5>
                <p style="font-size: 12px;margin: 0px;">+62821 7777 9394</p>
                <p style="font-size: 12px;margin: 0px;">santamonica@gmail.com</i></p>
                <p style="font-size: 12px;margin: 0px;">Ruko Rosemarry BC.00C/03<br>Citra Indah City Jonggol</p>
            </div>
            <div style="width: 60%;padding: 0px 0px;float: left !important;text-align: right;">
                <h5 style="font-size: 12px;font-weight: bold;margin: 0 0 7px 0;text-align: right !important;">{{data.transaksi.nm_customer}}</h5>
                <p style="font-size: 11px;margin: 0px;text-align: right !important;">{{data.transaksi.no_telepon}} - {{data.transaksi.tipe_member}}</p>
                <p style="font-size: 11px;margin: 0px;text-align: right !important;">{{data.transaksi.nm_kota}}</p>
                <h5 style="font-size: 12px;font-weight: bold;margin: 0 0 7px 0;text-align: right !important;">INVOICE #{{data.transaksi.kode_nota}}</h5>
            </div>
        </div>
    </div>
    <br>
    <table style="border: none;">
        <tr>
          <th width="230px" style="font-weight: bold;text-align: center !important;font-size: 13px;background-color: #414143;color: #fff;padding-top: 5px;padding-bottom: 5px;border: none !important;">Deskripsi</th>
          <th width="100px" style="font-weight: bold;text-align: center !important;font-size: 13px;background-color: #414143;color: #fff;padding-top: 5px;padding-bottom: 5px;border: none !important;">Harga</th>
          <th width="50px" style="font-weight: bold;text-align: center !important;font-size: 13px;background-color: #414143;color: #fff;padding-top: 5px;padding-bottom: 5px;border: none !important;">Qty</th>
          <th width="100px" style="font-weight: bold;text-align: center !important;font-size: 13px;background-color: #414143;color: #fff;padding-top: 5px;padding-bottom: 5px;border: none !important;">Subtotal</th>
        </tr>
        {% for key, val in data.layanan %}
        <tr>
          <td style="text-align: left !important;"><span style="font-size: 10px;font-weight: bold;">{{val.nm_service}}</span><br><span style="font-size: 10px;">{{val.isi_paket}}</span></td>
          <td style="text-align: right !important;"><span style="font-size: 11px;text-align: right;">Rp {{val.harga | number_format}}</span></td>
          <td style="text-align: center !important;"><span style="font-size: 11px;">{{val.jumlah | number_format}}</span></td>
          <td style="text-align: right !important;"><span style="font-size: 11px;">Rp {{val.subtotal | number_format}}</span></td>
        </tr>
        {% endfor %}
        {% for key, val in data.barang %}
        <tr>
          <td style="text-align: left !important;"><span style="font-size: 10px;font-weight: bold;">{{val.nm_service}}</span><br><span style="font-size: 10px;">{{val.isi_paket}}</span></td>
          <td style="text-align: right !important;"><span style="font-size: 11px;text-align: right;">Rp {{val.harga | number_format}}</span></td>
          <td style="text-align: center !important;"><span style="font-size: 11px;">{{val.jumlah | number_format}}</span></td>
          <td style="text-align: right !important;"><span style="font-size: 11px;">Rp {{val.subtotal | number_format}}</span></td>
        </tr>
        {% endfor %}
          
        <tr>
            <td colspan="3" style="text-align: left !important;"><span style="font-size: 12px;font-weight: bold;">Total Amount</span></td>
            <td style="text-align: right !important;"><span style="font-size: 11px;">Rp {{data.total_amount | number_format}}</span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left !important;"><span style="font-size: 12px;font-weight: bold;">Service Layanan</span></td>
            <td style="text-align: right !important;"><span style="font-size: 11px;">Rp {{data.subtotal_servicelayanan | number_format}}</span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: left !important;"><span style="font-size: 12px;font-weight: bold;">Diskon</span> <span style="font-weight: normal;font-size: 10px;">{{data.transaksi.nama_diskon}}</span></td>
            <td style="text-align: right !important;"><span style="font-size: 11px;">Rp {{data.subtotal_diskon | number_format}}</span></td>
        </tr>
        <tr>
            <td colspan="3" style="text-align: right !important;"><span style="font-size: 13px;font-weight: bold;">TOTAL</span></td>
            <td style="text-align: right !important;"><span style="font-size: 11px;font-weight: bold;">Rp {{data.total_all | number_format}}</span></td>
        </tr>
    </table>
    <br>
    <hr style="margin-bottom: 2px;">
    <div style="width: 100%;height: 50px;">
        <p style="font: 10px;"><b>Dicetak Pada</b> {{data.transaksi.dibuat_pada}} - {{data.transaksi.dibuat_oleh}}</p>
        <p style="font: 11px;"><b>Catatan :</b><br>{{data.transaksi.keterangan}}</p>
    </div>
    <hr style="margin-bottom: 0px;">
    <h5 style="color: rgb(140, 140, 140);margin-top: 2px;font-size: 11px;">Terimakasih atas kepercayaannya memilih layanan kami<br> Kepuasan anda adalah prioritas kami</h5>
</body>
</html>