<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice Report {{data.transaksi.kode_nota}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        body {
            background: #fff;
        }

        .text-danger strong {
            color: #9f181c;
        }

        .receipt-main {
            background: #ffffff none repeat scroll 0 0;
            border-bottom: 12px solid #333333;
            border-top: 12px solid #9f181c;
            margin-bottom: 50px;
            padding: 40px 30px !important;
            position: relative;
            box-shadow: 0 1px 21px #acacac;
            color: #333333;
            font-family: open sans;
        }

        .receipt-main p {
            color: #333333;
            font-family: open sans;
            line-height: 1.42857;
        }

        .receipt-footer h1 {
            font-size: 15px;
            font-weight: 400 !important;
            margin: 0 !important;
        }

        .receipt-main::after {
            background: #414143 none repeat scroll 0 0;
            content: "";
            height: 5px;
            left: 0;
            position: absolute;
            right: 0;
            top: -13px;
        }

        .receipt-main thead th {
            color: #fff;
        }

        .receipt-right h5 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 7px 0;
        }

        .receipt-right p {
            font-size: 12px;
            margin: 0px;
        }

        .receipt-right p i {
            text-align: center;
            width: 18px;
        }

        .receipt-main td {
            padding: 9px 20px !important;
        }

        .receipt-main th {
            padding: 13px 20px !important;
        }

        .receipt-main td {
            font-size: 13px;
            font-weight: initial !important;
        }

        .receipt-main td p:last-child {
            margin: 0;
            padding: 0;
        }

        .receipt-main td h2 {
            font-size: 20px;
            font-weight: 900;
            margin: 0;
            text-transform: uppercase;
        }

        .receipt-header-mid .receipt-left h1 {
            font-weight: 100;
            margin: 34px 0 0;
            text-align: right;
            text-transform: uppercase;
        }

        .receipt-header-mid {
            margin: 24px 0;
            margin-bottom: 0px;
            overflow: hidden;
        }
        .receipt-header-mid h5{
            margin-bottom: 0px;
        }

        #container {
            background-color: #dcdcdc;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="col-md-12" style="margin-top: 60px;margin-bottom: 10px;text-align: right;">
            <a class="mr-2 btn btn-small btn-secondary" href="{{data.urlDownload}}" target="_blank">Download PDF</a>
            <a class="mr-2 btn btn-small btn-success" href="{{data.urlWhatsApp}}" target="_blank">Kirim WhatsApp</a>
            <a class="mr-2 btn btn-small btn-primary" href="{{data.urlCetak}}" target="_blank" disabled="true">Cetak Struk</a>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="receipt-main col-xs-12 col-sm-12 col-md-12 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
                    <div class="row">
                        <div class="receipt-header col-6">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="receipt-left">
                                    <img class="img-responsive" alt="logo" src="../assets/img/default.png" style="width: 80px; border-radius: 43px;">
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                                <div class="receipt-right">
                                    <h5>Santa Monica 17th</h5>
                                    <p>+62821 7777 9394</p>
                                    <p>santamonica@gmail.com</p>
                                    <p>Ruko Rosemarry BC.00C/03<br>Citra Indah City Jonggol</p>
                                </div>
                            </div>
                        </div>
                        <div class="receipt-header receipt-header-mid col-6" style="text-align: right;position: relative;">
                            <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                                <div class="receipt-right" style="position: absolute;bottom:0;right:12px;">
                                    <h5>{{data.transaksi.nm_customer}}</h5>
                                    <p>{{data.transaksi.no_telepon}} - {{data.transaksi.tipe_member}}</p>
                                    <p>{{data.transaksi.nm_kota}}</p>
                                    <h5>INVOICE #{{data.transaksi.kode_nota}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="col-md-12" style="margin-top: 20px;">
                        <table class="table table-bordered table-responsive">
                            <thead>
                                <tr>
                                    <th style="background: #414143;">Deskripsi</th>
                                    <th style="text-align: right;background: #414143;">Harga</th>
                                    <th style="text-align: center;background: #414143;">Qty</th>
                                    <th style="text-align: right;background: #414143;">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, val in data.layanan %}
                                <tr>
                                    <td><span style="font-weight: bold;">{{val.nm_service}}</span><br> {{val.isi_paket}}</td>
                                    <td style="text-align: right;">Rp {{val.harga | number_format}}</td>
                                    <td style="text-align: center;">{{val.jumlah | number_format}}</td>
                                    <td style="text-align: right;">Rp {{val.subtotal | number_format}}</td>
                                </tr>
                                {% endfor %}
                                
                                {% for key, val in data.barang %}
                                <tr>
                                    <td><span style="font-weight: bold;">{{val.nm_service}}</span><br> {{val.isi_paket}}</td>
                                    <td style="text-align: right;">Rp {{val.harga | number_format}}</td>
                                    <td style="text-align: center;">{{val.jumlah | number_format}}</td>
                                    <td style="text-align: right;">Rp {{val.subtotal | number_format}}</td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td class="text-right">
                                        <p>
                                            <strong>Total Amount: </strong>
                                        </p>
                                        <p>
                                            <strong>Service Layanan: </strong>
                                        </p>
                                        <p>
                                            <strong>Diskon: {{data.transaksi.nama_diskon}}</strong>
                                        </p>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <p style="text-align: right;">
                                            <strong><i class="fa fa-inr"></i> Rp {{data.total_amount | number_format}}</strong>
                                        </p>
                                        <p style="text-align: right;">
                                            <strong><i class="fa fa-inr"></i> Rp {{data.subtotal_servicelayanan | number_format}}</strong>
                                        </p>
                                        <p style="text-align: right;">
                                            <strong><i class="fa fa-inr"></i> Rp {{data.subtotal_diskon | number_format}}</strong>
                                        </p>
                                    </td>
                                </tr>
                                <tr>

                                    <td class="text-right">
                                        <h2><strong>Total: </strong></h2>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right text-danger" style="text-align: right;">
                                        <h2><strong><i class="fa fa-inr"></i> Rp {{data.total_all | number_format}}</strong></h2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="receipt-header receipt-header-mid receipt-footer">
                            <div class="col-xs-12 col-sm-12 col-md-12 text-left">
                                <div class="receipt-right">
                                    <p><b>Date :</b> {{data.transaksi.dibuat_pada}} <br><b>Oleh :</b> {{data.transaksi.dibuat_oleh}}</p>
                                    <br>
                                    <p>{{data.transaksi.keterangan}}</p>
                                    <hr>
                                    <h5 style="color: rgb(140, 140, 140);">Terimakasih atas kepercayaannya memilih layanan kami<br> Kepuasan anda adalah prioritas kami</h5>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>