<div class="col-xl-12 col-md-12 col-sm-12 col-12" style="padding-left: 25px;padding-right: 25px;">
    <div class="row">
        <div class="col-xl-4 col-md-4 col-sm-12 col-12">
            <div class="card overflow-hidden" style="height: 265px;margin-top: 10px;">
                <div style="background: linear-gradient(to left, #3b21a1, #5c48a9); max-height: 110px;">
                    <div class="text-primary p-3" style="position: absolute;">
                        <h4 class="text-white" style="font-size: 18px; font-weight: 700; margin-top: 5px; margin-bottom: 5px;">This is Santa Monica 17th !!!</h4>
                        <p class="text-white">{{ datenow.day }}, {{ datenow.date }} {{ datenow.month }} {{ datenow.year }}</p>
                    </div>
                    <div class="row">
                        <div class="col-7" style="margin-top: 0px;padding-bottom: 0px;">
                        </div>
                        <div class="col-5 align-self-end text-right">
                            <img src="assets/images/profile-img.png" alt="" class="img-fluid" style="max-height: 105px;"></div>
                    </div>
                </div>
                <div class="card-body pt-0">
                    <div class="row">
                        <div class="col-sm-4 col-xs-4" style="width: 120px;flex: inherit;">
                            <div class="avatar-md profile-user-wid" style="margin-top: -28px;margin-bottom: 0px;width: 83px;height: 83px;">
                                <div class="lingkaran-user-image" [ngStyle]="{'background-image': 'url(' + imagedefault + ')'}" style="width: 83px;height: 83px;border-radius: 100%;background-position: center;background-size: cover;padding: 0.25rem;background-color: #f8f8fb;border: 1px solid rgb(190 192 244);">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 col-xs-8" style="margin-top: 15px;padding-left: 0px;">
                            <div class="">
                                <h5 class="font-size-15 text-truncate">{{ datauser.nama }}</h5>
                                <p class="text-muted mb-0 text-truncate" style="margin-top: -7px;">{{ datauser.nama_roles }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-8 col-sm-12  col-12" style="margin-top: 10px;">
            <div class="card panel-info">
                <div class="panel-heading bg-dashboard text-white p-2"
                     style="border-top-left-radius: 5px; border-top-right-radius:5px; padding-bottom: 5px !important;">
                    <div class="form-group row mb-0">
                        <label class="col-md-8" style="font-size: 14px; font-weight: bold;">Daftar Anggota ( {{TotalAnggota}} )</label>
                    </div>
                </div>
                <div class="panel-body" style="padding: 20px;">
                    <div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-sm" [(ngModel)]="modelParam.namaanggota" name="paramnamaanggota" type="text" placeholder="Cari Nama Anggota">
                                </div>
                            </div>
                            <div class="btn-con flexib col-lg-1">
                                <button type="submit" class="btn btn-sm btn-primary" (click)="getAnggota()" style="min-width: 80px;">Tampilkan</button>
                            </div>
                        </div>
                    </div>
                    <div class="pt-1">
                        <perfect-scrollbar style="height: 140px;">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-left-middle" style="background-color: #E7E8FF;color: #495057;">Nama</th>
                                            <th class="text-left-middle" style="background-color: #E7E8FF;color: #495057;">Steam Hex</th>
                                            <th class="text-center-middle" style="background-color: #E7E8FF;color: #495057;">Profile</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of listAnggota">
                                            <td>{{ val.nama }}</td>
                                            <td>{{ val.steam }}</td>
                                            <td style="text-align: center;"><a href="{{val.steamprof}}" target="_blank"><i class="fa fa-link"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 col-sm-12  col-12" style="margin-top: 10px;">
            <div class="card panel-info">
                <div class="panel-heading bg-dashboard text-white p-2"
                     style="border-top-left-radius: 5px; border-top-right-radius:5px; padding-bottom: 5px !important;">
                    <div class="form-group row mb-0">
                        <label class="col-md-8" style="font-size: 14px; font-weight: bold;">Cek History Setoran</label>
                    </div>
                </div>
                <div class="panel-body" style="padding: 20px;">
                    <div>
                        <div class="form-group row">
                            <div class="col-md-7">
                                <ng-select [items]="listSetoran" bindLabel="nama" placeholder="Pilih Setoran" bindValue="id" [(ngModel)]="modelParam.t_setoran_id" name="t_setoran_id" (click)="resettampilancek()"></ng-select>
                            </div>
                            <div class="btn-con flexib col-lg-1">
                                <button type="submit" class="btn btn-sm btn-primary" (click)="cekSetoran()" style="min-width: 80px;">Tampilkan</button>
                            </div>
                        </div>
                    </div>
                    <div class="pt-1">
                        <div class="col-md-12 col-sm-12 col-xs-12 main-kategori" style="min-height: 200px;">
                            <div class="row">
                                <div class="col-md-12" *ngIf="tampilkancek == 0">
                                    <div class="empty-value" style="text-align: center;padding: 20px;">
                                        <img src="assets/images/emptynote.png" alt="" class="logo-img" height="100" />
                                        <p style="margin-bottom: 0px;color: #a0a2a8">
                                            {{keterangansetor}}
                                        </p><br>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="tampilkancek == 1 && availablesetor == 0">
                                    <div class="empty-value" style="text-align: center;padding: 20px;">
                                        <img src="assets/images/warning.png" alt="" class="logo-img" height="100" />
                                        <p style="margin-bottom: 0px;color: #a0a2a8">
                                            {{keterangansetor}}
                                        </p><br>
                                    </div>
                                    <br>
                                </div>
                                <div class="col-md-12" *ngIf="tampilkancek == 1 && availablesetor == 1">
                                    <div class="empty-value" style="text-align: center;padding: 20px;">
                                        <img src="assets/images/verification-img.png" alt="" class="logo-img" height="100" />
                                        <p style="margin-bottom: 0px;color: #a0a2a8">
                                            {{keterangansetor}}
                                        </p><br>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="tampilkancek == 1">
                                    <div class="table-responsive">
                                        <table class="table table-sm table-hover mb-0">
                                            <thead>
                                                <tr>
                                                    <th class="text-left-middle" style="background-color: #E7E8FF;color: #495057;">Nama</th>
                                                    <th class="text-center-middle" style="background-color: #E7E8FF;color: #495057;">Jumlah</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let val of listBarangSetoran">
                                                    <td>{{ val.nm_barang }}</td>
                                                    <td style="text-align: center;">{{ val.jumlah | number}} Pcs</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8 col-md-8 col-sm-12  col-12" style="margin-top: 10px;">
            <div class="card panel-info">
                <div class="panel-heading bg-dashboard text-white p-2"
                     style="border-top-left-radius: 5px; border-top-right-radius:5px; padding-bottom: 5px !important;">
                    <div class="form-group row mb-0">
                        <label class="col-md-8" style="font-size: 14px; font-weight: bold;">Barang All</label>
                    </div>
                </div>
                <div class="panel-body" style="padding: 20px;">
                    <div>
                        <div class="form-group row" style="margin-bottom: 0px;">
                            <div class="col-md-4">
                                <div class="input-group input-group-sm">
                                    <input class="form-control form-control-sm" [(ngModel)]="modelParam.namabarang" name="paramnamabarang" type="text" placeholder="Cari Nama Barang">
                                </div>
                            </div>
                            <div class="btn-con flexib col-lg-1">
                                <button type="submit" class="btn btn-sm btn-primary" (click)="getBarang()" style="min-width: 80px;">Tampilkan</button>
                            </div>
                        </div>
                    </div>
                    <div class="pt-1">
                        <perfect-scrollbar style="height: 215px;">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th class="text-left-middle" style="background-color: #E7E8FF;color: #495057;">Nama</th>
                                            <th class="text-center-middle" style="background-color: #E7E8FF;color: #495057;">Harga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let val of listBarang">
                                            <td>{{ val.nama }}</td>
                                            <td style="text-align: center;">{{ val.harga | number}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </perfect-scrollbar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>