.bg-gradient-info {
  background: linear-gradient(to right, #3fc4e1, #3fc4e1 90%);
  /*cursor: pointer;*/
}

.bg-dashboard {
  background: linear-gradient(to left, #3b21a1, #5c48a9); max-height: 110px;
}

.text-center-middle{
  text-align: center;
  vertical-align: middle;
}
.text-left-middle{
  text-align: left;
  vertical-align: middle;
}

.text-center-middle{
  text-align: center;
  vertical-align: middle;
}

.text-right-middle{
  text-align: right;
  vertical-align: middle;
}

.table-bordered {
  border: 1px solid #dbddde!important;
}

.table-bordered th,
.table-bordered td {
  border: 1px solid #dbddde!important;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
}

.table td, .table th {
  padding: 5px;
  cursor: pointer;
}

.table tfoot tr th {
  background-color: #f0f3f5;
}
.ng-select.custom {
  border:0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container  {
  min-height: 0px;
  border-radius: 0;
}

//.ng-select.ng-select-single .ng-select-container {
//  height: 50px !important;
//}

::ng-deep .ng-select.ng-select-single .ng-select-container  {
  height: 27px !important;
}


.tbl-content {
  min-height: 100px;
  height: auto;
  max-height: 345px;
  overflow: auto;
}

.div-b-table {
  width: 100%;
  max-height: 520px;
  overflow: scroll;
  position: relative;
}

.custom-table {
width: 100%;
position: relative;
display: table;
border-collapse: collapse;
box-sizing: border-box;
text-indent: initial;
border-spacing: 2px;
border-color: gray;
}

.border-vertical-thin {
border-top: 1px solid #eff2f7 !important;
border-bottom: 1px solid #eff2f7 !important;
border-collapse: collapse;
}

.foto-karyawan {
width: 40px;
height: 40px;
border: 1px solid #c5c1c1;
border-radius: 50%;
object-fit: cover;
margin-right: 10px;
display: inline-block;
float: left;
}

td,
th {
padding: 0.7rem;
}
.custom-width {
width: 200px;
padding: 5px 15px;
text-align: center;
}
.thwidth {
width: 25%; 
}
thead th {
position: -webkit-sticky; /* for Safari */
position: sticky;
top: 0;
color: #FFF;
z-index: 98;
}

thead tr.second th, thead tr.second td {
position: -webkit-sticky; /* for Safari */
position: sticky;
background: #564ab1;
color: #FFF;
}

thead th:first-child {
left: 0;
// z-index: 100;
}

tbody th {
position: -webkit-sticky; /* for Safari */
position: sticky;
left: 0;
background: #FFF;
border-right: 1px solid #CCC;
z-index: 98;
}
.input-group-text {
z-index: 1;
}

/* width */
.div-b-table::-webkit-scrollbar {
width: 6px;
height: 6px;
}

/* Track */
.div-b-table::-webkit-scrollbar-track {
border-radius: 20px;
}

/* Handle */
.div-b-table::-webkit-scrollbar-thumb {
background: #c4c4c4; 
border-radius: 20px;
}

/* Handle on hover */
.div-b-table::-webkit-scrollbar-thumb:hover {
background: #999999; 
}
.bg-purple{
background-color: #dca8fa;
color: #fff;
}
.scrollmenu {
padding-top: 30px;
padding-bottom: 30px;
overflow: auto;
white-space: nowrap;
}
.box {
padding-top: 30px;
}
.icon-tab{
margin-right: 15px;
font-size: 14px;
}
.title-tab{
font-size: 14px;
}
.padding-medium{
padding: 15px 10px 15px 10px; 
}.nav-tabs-custom .nav-item .nav-link {
background-color: #eff2f7;
margin: 0 5px;

}
.nav-tabs-custom .nav-item .nav-link.active {
color: #4E51A2;
background-color:#fff;   

}
.nav-pills .nav-link {
background-color: #eff2f7;
margin: 0 5px;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
color: #fff;
background-color: #48a89e;
}
.company-name{
font-size: 20px;
font-weight: bold;
margin-right: 10px;
border-right: 1px solid #e6e6e6;
padding-right: 15px;
cursor: pointer;
color: #4B50A1;
}
.company-name:hover {
color: darken(#4B50A1, 15%);
}
.card-perusahaan {
background: linear-gradient(to left, #5fc792, #35b3a7);
}
.card-perusahaan:hover {
background-color: darken(#5fc792, 15%);
}
.logo-img{
top: 5px;
position: relative;
vertical-align: inherit;
}
.modal-title{
color: #fff;
}

.modal-header .close{
color: #fff;
}

.modal-header{
background: #4E51A2;
}
.checkout-tabs .nav-pills .nav-link.active {
background-color: #48a89e;
}

.checkout-tabs .nav-pills .nav-link {
margin-bottom: 24px;
text-align: center;
background-color: #fff;
box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, .03);
}

#right-menu .nav-pills .nav-link.active,
#right-menu .nav-pills .show>.nav-link {
color: #fff;
background-color: #48a89e;
}

#right-menu .nav-pills .nav-link {
border-radius: .25rem;
}

#right-menu .nav-pills>a,
#right-menu .nav-pills>li>a,
#right-menu .nav-tabs>li>a {
color: #495057;
font-weight: 500;
}

#right-menu .nav-item {
border-bottom: 1px solid #f4f5f8 !important;
}

#right-menu .nav-link {
border-radius: inherit !important;
}

.font-weight-bold {
font-weight: 600 !important;
}

#right-menu .nav-pills {
flex-direction: column !important;
}

.nav-justified .nav-item {
flex-basis: auto;
}

.nav-pills .nav-link {
box-shadow: none !important;
}

.f-20 {
font-size: 20px;
}

.mb-25 {
margin-bottom: 25px;
}

.custom-file-label::after {
display: none !important;
}

.custom-file .custom-file-input{
  cursor: pointer;
}

.custom-file .custom-file-label{
background: #4b51a1;
color: #fff;
font-weight: 600;
height: 100%;
padding: 7px;
text-align: center;
}

.sub-menu-employee{
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}

.padding-none{
padding: 0px;
}

.ng-select.ng-select-disabled>.ng-select-container{
  background-color: #f7f8fb !important;
}

.btn-action{
padding-top: 15px;
border-top: 1px solid #f4f5f8;
}

@media (max-width: 992px){
.card-foto{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 25px;
}
}
.menuedit {
background-color: #eef1f6 !important; 
margin-right: 7px;
}
.menuedit.active {
background-color: #48a89e !important; 
}
.rata-tengah{
vertical-align: inherit;
}

.list-formula {
list-style: none;
padding-left: 0px;
}

.list-formula li {
// padding-bottom: 7px;
padding-top: 7 px;
}

.total-reimbursement {
font-weight: bolder;
color: #fff;
}

.list-inline-item:not(:last-child) {
margin-left: 0rem;
margin-right: 0;
}

.input-group-append {
max-height: 27px;
}

.btn-con {
display: flex;
justify-content: flex-end;
}

.flexib {
justify-content: flex-start;
}

tbody ul.list-inline {
min-width: fit-content !important;
width: 100px;
}

.btn-con>.btn-sm {
height: fit-content;
margin-bottom: 10px;
}
@media screen and (max-width:1229px) {
.top-content {
  margin-top: 40px;
}
}

@media screen and (max-width: 992px) {
.top-content {
  margin-top: 90px;
}

.btn-con .btn-sm {
  width: fit-content !important;
  font-size: 11px !important;
  padding: 4px 8px;
  max-height: 26px !important;
}

tbody ul.list-inline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
}

tbody ul.list-inline li {
  margin: 0 0 10px 0;
}

tbody ul.list-inline li a {
  margin: 0 !important;
}
.menu-sampingnya {
    .menumenu {
        position: relative !important;
        width: 100%;
        top: 20px;
    }
}
.flexib{
    justify-content: flex-end;
}
}

@media screen and (max-width:991px) {
.top-content {
  margin-top: 0;
}

.sd{
max-width: 100% !important;
text-align: center;
}

tbody td button {
  padding: 4px;
}
}

@media screen and (max-width:910px) {
tbody span.text-bold {
  font-size: 12px;
}
}

@media screen and (max-width: 876px) {
tbody ul.list-inline li {
  display: block;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 0 8px 0 !important;
}

tbody ul.list-inline li a {
  margin: 0 !important;
}

tbody td button {
  font-size: 11px;
  padding: 4px;
}
}

@media screen and (max-width: 767px) {
.btn-cont>.col-md-2 {
  margin-bottom: 10px;
}

.flexib {
    justify-content: flex-end;
  }
}

@media screen and (max-width:601px) {
table.mobile-optimised-detail thead {
  display: contents !important;
}

table.mobile-optimised-detail td {
  display: block;
  text-align: left !important;
  width: 100%;
}

table.mobile-optimised td {
  text-align: left !important;
}

.row-action {
  width: 100%;
}

.row-action .list-inline {
  display: flex;
  flex-direction: row !important;
  justify-content: space-around !important;
}

tbody .text-right,
tbody .align-center {
  text-align: left !important;
}

.flexib {
  justify-content: flex-end;
}
}