<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                            [(ngModel)]="modelParam.nama" name="paramnama" type="text"
                                            placeholder="Cari Nama">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <select (change)="reloadDataTable()" class="form-control form-control-sm"
                                        [(ngModel)]="modelParam.status" name="status">
                                        <option value=0>Active</option>
                                        <option value=1>Inactive</option>
                                    </select>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" (click)="create()" *ngIf="checkAkses('create_user')">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                    Add New Member
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                            data-page-length='20'>
                            <thead class="thead-light">
                                <tr>
                                    <th class="text-left">Nama</th>
                                    <th class="text-center">Hak Akses</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                    <td class="align-left" data-th="Nama">{{ val.nama }}</td>
                                    <td class="align-center" data-th="nama_roles">{{ val.nama_roles }}</td>
                                    <td class="row-action">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item" *ngIf="val.is_deleted == 0 && checkAkses('edit_user')">
                                                <a href="javascript: void(0);" (click)="edit(val)"
                                                    class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                    <i class="fa fa-edit font-size-14 align-middle"></i>
                                                </a>
                                            </li>

                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 0 && val.id != 1 && val.id != -1 && checkAkses('delete_user')">
                                                <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Hapus">
                                                    <i class="fa fa-trash font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 1 && val.id != 1 && val.id != -1 && checkAkses('delete_user')">
                                                <a href="javascript: void(0);" (click)="restore(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Restore">
                                                    <i class="fa fa-recycle font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">

                            <div class="row">

                                <div class="col-md-12">

                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link {{ getTabContent() == 'user' ? 'active' : ''}}"
                                                (click)="setTabContent('user')" role="tab" data-toggle="tab"
                                                href="javascript: void(0);">Data User</a>
                                        </li>
                                        <!-- <li class="nav-item">
                                            <a class="nav-link {{ getTabContent() == 'histori' ? 'active' : ''}}"
                                               (click)="setTabContent('histori')" role="tab" data-toggle="tab"
                                               href="javascript: void(0);">History</a>
                                        </li> -->


                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" style="margin-top: 15px;">
                                            <div *ngIf="getTabContent() == 'user'">
                                                <div class="row">
                                                    <div class="col-md-12" style="padding-bottom: 10px;">
                                                        <span
                                                            style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                            Sign <span style="font-size: 13px;color: red">*</span>
                                                            is required </span>
                                                        <br>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="form-group row">
                                                            <label
                                                                class="col-md-3 col-form-label col-form-label-sm required">Nama</label>
                                                            <div class="col-md-9">
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="nama" [(ngModel)]="model.nama" name="nama"
                                                                    placeholder="Name" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                class="col-md-3 col-form-label col-form-label-sm required">Steam Hex</label>
                                                            <div class="col-md-9">
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="steam" [(ngModel)]="model.steam" name="steam"
                                                                    placeholder="Steam Hex" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                class="col-md-3 col-form-label col-form-label-sm required">Steam Profile</label>
                                                            <div class="col-md-9">
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="steamprof" [(ngModel)]="model.steamprof" name="steamprof"
                                                                    placeholder="Steam Profile" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                class="col-md-3 col-form-label col-form-label-sm required">Username
                                                            </label>
                                                            <div class="col-md-9">
                                                                <input class="form-control form-control-sm" type="text"
                                                                    name="username" [(ngModel)]="model.username"
                                                                    name="username" placeholder="Username" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                class=" col-md-3 col-form-label col-form-label-sm required">
                                                                Password</label>
                                                            <div class="col-md-9">
                                                                <input class="form-control form-control-sm"
                                                                    type="password" name="password"
                                                                    [(ngModel)]="model.password" name="password"
                                                                    placeholder="Password" />
                                                                <p *ngIf="isEdit == true"
                                                                    class="col-form-label col-form-label-sm">empty when
                                                                    not to be
                                                                    changed</p>

                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label
                                                                class="col-md-3 col-form-label col-form-label-sm required">Hak
                                                                Akses
                                                            </label>
                                                            <div class="col-md-9">

                                                                <ng-select [items]="listHakAkses" bindLabel="nama"
                                                                    bindValue="id" [(ngModel)]="model.m_roles_id"
                                                                    name="m_roles_id" [disabled]="isView"
                                                                    placeholder="Select Permission" appendTo="body">
                                                                </ng-select>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div *ngIf="getTabContent() == 'histori'">
                                                        <div class="col-md-12">
                                                            <table
                                                                class="table table-sm table-hover mobile-optimised mobile-optimised-detail mb-5">
                                                                <thead class="bg-primary text-white">
                                                                    <tr style="height: 35px;">
                                                                        <th class="align-middle align-center">Nama</th>
                                                                        <th class="align-middle align-center">Action
                                                                        </th>
                                                                        <th class="align-middle align-center">Tanggal
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>

                                                                    <tr
                                                                        *ngFor="let val of listDetailHistoriUser; index as i">
                                                                        <td class="align-middle align-center"
                                                                            data-th="nama_histori">
                                                                            {{val.nama}}
                                                                        </td>
                                                                        <td class="align-middle align-center"
                                                                            data-th="ket_histori">
                                                                            {{val.ket}}
                                                                        </td>
                                                                        <td class="align-middle align-center"
                                                                            data-th="tanggal_histori">
                                                                            {{val.created_at | date:"d MMM yyyy H:mm"}}
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>

                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView && checkAkses('save_user')" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>