<div class="container-fluid" *ngIf="!showForm">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="form-group row">
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                            [(ngModel)]="modelParam.kode" name="paramkode" type="text"
                                            placeholder="Cari Kode">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="input-group input-group-sm mb-1">
                                        <input (keyup)="reloadDataTable()" class="form-control form-control-sm"
                                            [(ngModel)]="modelParam.nama" name="paramnama" type="text"
                                            placeholder="Cari Nama">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <select (change)="reloadDataTable()" class="form-control form-control-sm"
                                        [(ngModel)]="modelParam.status" name="status">
                                        <option value=0>Active</option>
                                        <option value=1>Inactive</option>
                                    </select>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 text-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-sm" (click)="create()">
                                    <i class="fa fa-plus font-size-14 align-middle"></i>
                                    Tambah Layanan
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table datatable [dtOptions]="dtOptions" class="table table-hover mobile-optimised mb-0"
                            data-page-length='20'>
                            <thead class="thead-light">
                                <tr>
                                    <th>Nama</th>
                                    <th>Harga</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let val of listData" (dblclick)="view(val)">
                                    <td data-th="nama">{{ val.nama }}</td>
                                    <td data-th="alamat">Rp. {{ val.harga | number}}</td>
                                    <td class="row-action">
                                        <ul class="list-inline mb-0">
                                            <li class="list-inline-item" *ngIf="val.is_deleted == 0">
                                                <a href="javascript: void(0);" (click)="edit(val)"
                                                    class="mr-2 mb-primary" placement="top" ngbTooltip="Edit">
                                                    <i class="fa fa-edit font-size-14 align-middle"></i>
                                                </a>
                                            </li>

                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 0">
                                                <a href="javascript: void(0);" (click)="delete(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Hapus">
                                                    <i class="fa fa-trash font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item"
                                                *ngIf="val.is_deleted == 1">
                                                <a href="javascript: void(0);" (click)="restore(val)" class="mb-danger"
                                                    placement="left" ngbTooltip="Restore">
                                                    <i class="fa fa-recycle font-size-14 align-middle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="showForm">
    <app-page-title [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-page-title>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form disabled="isView">
                        <fieldset [disabled]="isView">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12" style="padding-bottom: 10px;">
                                            <span style="font-style: italic;font-size: 11px; font-weight: bold;">
                                                Sign <span style="font-size: 13px;color: red">*</span>
                                                is required </span>
                                            <br>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label
                                                    class="col-md-4 col-form-label col-form-label-sm required">Nama</label>
                                                <div class="col-md-8">
                                                    <input class="form-control form-control-sm" type="text" name="nama"
                                                        [(ngModel)]="model.nama" name="nama" placeholder="Nama Layanan" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm required">Harga</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                Rp
                                                            </span>
                                                        </div>
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.harga" name="harga" placeholder="Harga" mask="separator" style="text-align: right;" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm">Komisi Therapist</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.k_therapist" name="k_therapist" placeholder="Komisi Therapist" mask="separator" style="text-align: right;"/>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm">Komisi Manager</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.k_manager" name="k_manager" placeholder="Komisi Manager" mask="separator" style="text-align: right;"/>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm">Komisi Marketing</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.k_marketing" name="k_marketing" placeholder="Komisi Marketing" mask="separator" style="text-align: right;"/>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-md-4 col-form-label col-form-label-sm">Komisi Perusahaan</label>
                                                <div class="col-md-4">
                                                    <div class="input-group input-group-sm">
                                                        <input type="text" class="form-control form-control-sm" [(ngModel)]="model.k_perusahaan" name="k_perusahaan" placeholder="Komisi Perusahaan" mask="separator" style="text-align: right;"/>
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                %
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="float-right">
                        <button class="btn btn-light btn-sm mr-2" (click)="index()">
                            <i class="fa fa-chevron-left font-size-14 align-middle mr-2"></i>
                            Back
                        </button>
                        <button class="btn btn-primary btn-sm" *ngIf="!isView" (click)="save()">
                            <i class="fa fa-save font-size-14 align-middle mr-2"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>